<header>

  <img src="../assets/photos/header/cover.jpg" alt="titleCover">
  <img src="../assets/photos/header/coverPeople.png" alt="coverPeople">

  <div class="title">
    <h1>yo 5g</h1>
    <h2>הדור הבא של המהירות כבר הגיע אלינו!</h2>
  </div>

  <div class="cardContainer">

    <h3>תתכוננו לחוויה מהסרטים ב - יו 5g עולם חדש הגיע.</h3>

    <div class="cards" onclick="">

      <div class="card">
        <img src="../assets/photos/header/movie.jpg" alt="movie">
        <strong>צפיה בסרטים וסדרות</strong>
        <p>צפיה בסרטים וסדרות במהירות שיא ללא חשש לתקיעות או מהמתנה מיותרת, גם ב 4K ואפילו ב - 8K !</p>
      </div>

      <div class="card">
        <img src="../assets/photos/header/gaming.jpg" alt="gaming">
        <strong>גיימינג מהיר יותר</strong>
        <p>מאפשר לשחק במשחקי אונליין ללא חשש לתקיעות וזמני תגובה איטיים שיכולים לגרום להפסד מיותר.</p>
        <P>מאפשר לקבל זמן תגובה מהיר במיוחד לחווית שלא הייתה עד היום.</P>
      </div>

      <div class="card">
        <img src="../assets/photos/header/speed.jpg" alt="speed">
        <strong>מהירות הורדה מטורפת</strong>
        <p>מהירות הורדה של העתיד, מאפשר להוריד קבצים גדולים מהאינטרנט בתוך מספר שניות ספורות ללא עיקוב מיותר ובהבטחה
          שיא.</p>
      </div>

    </div>

  </div>

</header>

<div>

  <h3>הדור הבא של המהירות כבר כאן!</h3>

</div>

<div class="security">

  <img src="../assets/photos/security/newWorld.jpg" alt="newWorld" class="newWorld">
  <div class="textBigContainer">
    <h1>הביטחון שלך זה גם הביטחון שלנו</h1>
    <p>עם פתרונות אבטחת מידע משופרים,תמיכה
      IoT, ביצועי רשת ורציפות עסקית ללא
      תלות בליבת הרשת של המפעיל הסלולארי.
      לשימוש שירותים חיוניים ותפעול תשתיות
      קריטיות בשגרה ובחירום עם מהירות של עד 1000 מגה.
      ועם כל זה העובדים שלנו נמצאים כל הזמן בשטח על מנת להביא לכם את החוויה הכי נעימה שיש ללא תקלות ובעיות טכניות
      רק אצלינו ב יו 5G אנטנות נפרדות שמאפשרות רוחב פס מהיר ובטוח.</p>
  </div>
  <img src="../assets/photos/security/antennas.jpg" alt="antennas" class="antennas">
  <div class="textSmallContainer">
    <h2>טכנולוגיה חדשה הגיע ואיתה</h2>
    <p>המהירות המוגברת של רשתות סלולריות מדור 5 מושגת בחלקה באמצעות גלי רדיו בתדר גבוה יותר תהיה מורכבת מרשתות של עד 3
      סוגים שונים של תאים.</p>
  </div>

</div>

<div class="packages">

  <div class="cover"></div>

  <h2>ניתן לרכוש מגוון חבילות סלולריות</h2>
  <h3>במחיר מצחיק לצרכן</h3>

  <div class="ulWrapper">

    <div class="header">
      <h4>החבילות שלנו</h4>
      <hr>
    </div>

    <ul>

      <li>
        <img src="../assets/photos/packages/single/energyBall.jpg" alt="energyBall">
        <strong>חבילת סלולרי לכל כיס</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>1000 דקות שיחה</li>
          <li>1000 אסמסים</li>
          <li>גלישה 5 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 9.9 שח לחודש בלבד</p>
      </li>

      <li>
        <img src="../assets/photos/packages/single/mobileFront.jpg" alt="mobileFront">
        <strong>חבילת סלולרי בסיסית</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>2500 דקות שיחה</li>
          <li>2500 אסמסים</li>
          <li>גלישה 50 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 14.9 שח לחודש בלבד</p>
      </li>

      <li>
        <img src="../assets/photos/packages/single/fastLines.jpg" alt="fastLines">
        <strong>חבילת סלולרי בסיסית פלוס</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 200 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 19.9 שח לחודש בלבד</p>
      </li>

      <li>
        <img src="../assets/photos/packages/single/fastRoad.jpg" alt="fastRoad">
        <strong>חבילת סלולרי משודרגת</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 500 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 29.9 שח לחודש בלבד</p>
      </li>

      <li>
        <img src="../assets/photos/packages/single/mobilePhoneWithDog.jpg" alt="mobilePhoneWithDog">
        <strong>חבילת סלולרי אולטרה</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 1000 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 34.9 שח לחודש בלבד</p>
      </li>

      <li>
        <img src="../assets/photos/packages/single/fastDrive.jpg" alt="fastDrive">
        <strong>חבילת סלולרי אולטרה פלוס</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 1500 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 44.9 שח לחודש בלבד</p>
      </li>

      <li>
        <img src="../assets/photos/packages/family/family1.jpg" alt="family1">
        <strong>חבילת סלולרית משפחתית</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>2500 דקות שיחה</li>
          <li>2500 אסמסים</li>
          <li>גלישה 100 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 14.9 שח לחודש בלבד</p>
        <small>*ל - 3 מנויים ומעלה</small>
      </li>

      <li>
        <img src="../assets/photos/packages/family/family2.jpg" alt="family2">
        <strong>חבילת סלולרית משפחתית פלוס</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 300 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 19.9 שח לחודש בלבד</p>
        <small>*ל - 3 מנויים ומעלה</small>
      </li>

      <li>
        <img src="../assets/photos/packages/family/family3.jpg" alt="family3">
        <strong>חבילת סלולרית משפחתית אולטרה</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 500 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 24.9 שח לחודש בלבד</p>
        <small>*ל - 3 מנויים ומעלה</small>
      </li>

      <li>
        <img src="../assets/photos/packages/family/family4.jpg" alt="family4">
        <strong>חבילת סלולרית משפחתית אולטרה פלוס</strong>
        <p>החבילה כוללת</p>
        <ul>
          <li>5000 דקות שיחה</li>
          <li>5000 אסמסים</li>
          <li>גלישה 1000 ג'יגה</li>
        </ul>
        <p>וכל התענוג ב - 29.9 שח לחודש בלבד</p>
        <small>*ל - 3 מנויים ומעלה</small>
      </li>

    </ul>

  </div>

</div>