<div class="container">
  <h2>contact information</h2>

  <div class="boxWrap">

    <div class="box" *ngFor="let contact of contacts; let i = index">

      <div [formGroup]="contact">

        <div class="firstRow">

          <div class="col">
            <p>type of contact</p>
            <select formControlName="typeOfContact">
              <option *ngFor="let type of typeOfContactSelected" [ngValue]="type">
                {{ type }}
              </option>
            </select>

            <small *ngIf="contact.get('typeOfContact')?.touched && contact.get('typeOfContact')?.errors">type of contact
              is required!</small>
          </div>

          <div class="col">
            <p>contact label</p>
            <input type="text" formControlName="label"
              [class.error]="contact.get('label')?.touched && contact.get('label')?.errors" />
            <small *ngIf="contact.get('label')?.touched && contact.get('label')?.errors">label is required!</small>
          </div>

        </div>

        <div class="secondRow">
          <p>email/phone no.</p>
          <input type="text" formControlName="value"
            [class.error]="contact.get('value')?.touched && (contact.get('value')?.errors || contact?.hasError('invalidType'))" />
          <ng-container *ngIf="contact.get('value')?.touched">
            <small *ngIf="contact?.getError('invalidType') as formatType">
              <span *ngIf="formatType === ETypeOfContact.EMAIL">email</span>
              <span *ngIf="formatType === ETypeOfContact.PHONE">phone</span>
              is invalid!
            </small>
            <small *ngIf="contact.get('value')?.hasError('required')">
              this field is required!
            </small>
          </ng-container>

        </div>

        <div class="thirdRow">
          <input type="button" value="Remove" (click)="removeContact(i)" />
        </div>

      </div>

    </div>
  </div>
</div>