<div class="container" [formGroup]="parent">
  <h2>contact information</h2>

  <div class="boxWrap" formArrayName="contactInfo">
    <div class="box" *ngFor="let contact of contacts; let i = index">
      <div [formGroup]="contact">
        <div>
          <p>type of contact</p>
          <select formControlName="typeOfContact">
            <option *ngFor="let type of typeOfContactSelected" [ngValue]="type">
              {{ type }}
            </option>
          </select>

          <small>type of contact is required!</small>
        </div>

        <div>
          <p>contact label</p>
          <input type="text" formControlName="label" />
          <small>label is required!</small>
        </div>
        <div>
          <p>email/phone no.</p>
          <input type="text" formControlName="value" />
          <small>email/phone is required!</small>
        </div>

        <div>
          <input type="button" value="Remove" (click)="removeContact(i)" />
        </div>
      </div>
    </div>
  </div>
</div>