<div>

    <div style="text-align: center">
        <input type="text" placeholder="Enter a country" [(ngModel)]="country"><br>
        <button *ngIf="country" (click)="findKey()">Submit</button><br>
    </div>

    <div class="card">

        <div class="container">
            <h2>Country: {{weather.country}}</h2>
            <h2>Temperature: {{weather.temperature}}</h2>
        </div>

        <div>
            <button *ngIf="!isFavoriteExists()" (click)="save()" class="far fa-heart favorite fa-5x"></button>
            <button *ngIf="isFavoriteExists()" (click)="save()" class="fas fa-heart favorite fa-5x"></button>
        </div>


        <div class="container inner" style=" box-shadow: none">
            week day

            <div>
<button>"</button>
            </div>
        </div>

    </div>

</div>