.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: var(--main-min-height);
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    --background-color-add-save: rgb(153, 245, 183);
}

/* options */

.container>.options {
    width: 480px;
    display: flex;
    justify-content: space-around;
}

.container>.options>button, .container>.options>input, .container>.options>select {
    font-size: large;
    padding: 7px 10px;
    text-transform: capitalize;
}

.container>.options>button {
    border-radius: 7px;
    background-color: var(--background-color-add-save);
    cursor: pointer;
}

.container>.options>input {
    border-radius: 15px;
    text-align: center;
    outline: 0;
}

.container>.options>select {
    border-radius: 5px;
}

/* products */

.container>.products {
    --height-inner-element: 80px;
    --height-inner-element-margin-buttom: 10px;
    --amount-li-elements: 5;
    height: calc( (var(--height-inner-element) + var( --height-inner-element-margin-buttom)) * var(--amount-li-elements));
    --width-inner-ul: 500px;
    --width-inner-details: 400px;
    width: calc(var(--width-inner-ul) + var(--width-inner-details));
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.container>.products>.ulWrap {
    overflow: hidden;
    width: var(--width-inner-ul);
}

.container>.products>.ulWrap>ul {
    padding: 0;
    list-style: none;
    height: fit-content;
}

.container>.products>.ulWrap>ul>li {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    transition: .3s ease-out;
    border-radius: 5px;
    margin-bottom: var( --height-inner-element-margin-buttom);
    --delete-button-width: 80px;
    --delete-magrin-right: 15px;
}

.container>.products>.ulWrap>ul>li:hover {
    background-color: rgb(206, 209, 211);
}

.container>.products>.ulWrap>ul>li>.coverButton {
    background: inherit;
    outline: 0;
    border: 0;
    cursor: pointer;
    height: 80px;
    width: calc(100% - var(--delete-button-width) - var(--delete-magrin-right));
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.container>.products>.ulWrap>ul>li>.coverButton>img, .container>.products>.ulWrap>ul>li>.coverButton>label {
    cursor: pointer;
}

.container>.products>.ulWrap>ul>li>.coverButton>img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 5px;
}

.container>.products>.ulWrap>ul>li>.coverButton>label {
    width: 80%;
    text-align: start;
    padding-left: 10px;
    line-height: 25px;
    padding: 5px;
}

.container>.products>.ulWrap>ul>li>.coverButton>label>strong {
    font-size: large;
}

.container>.products>.ulWrap>ul>li>.coverButton>label>p {
    width: 90%;
    font-size: larger;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container>.products>.ulWrap>ul>li>.coverButton>label::first-letter, .container>.products>.ulWrap>ul>li>.coverButton>label>p::first-letter {
    text-transform: uppercase;
}

.container>.products>.ulWrap>ul>li>.delete {
    width: var(--delete-button-width);
    margin-right: var(--delete-magrin-right);
    margin-bottom: 5px;
    background-color: rgb(248, 192, 89);
    border-radius: 5px;
    border: 2px solid black;
    padding: 6px 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: capitalize;
    cursor: pointer;
}

.container>.products>.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: var(--width-inner-details);
    margin-left: 15px;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.container>.products>.details>.detailsOff {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.products>.details>.detailsOff>p {
    font-size: x-large;
}

.container>.products>.details>.detailsOff>p::first-letter {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(27, 26, 26);
}

.container>.products>.details>.detailsOn {
    --disabled-invalid-color: rgb(214, 59, 59);
}

.container>.products>.details>.detailsOn>h3.cover {
    position: absolute;
    top: -12px;
    left: 0;
    font-size: large;
    font-weight: normal;
    margin-left: 15px;
    background: white;
    padding: 0 5px;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container>.products>.details>.detailsOn>h3.cover::first-letter {
    text-transform: uppercase;
}

/* .container>.products>.details>.detailsOn when invalid*/

.invalidInput {
    border: 2px solid var(--disabled-invalid-color);
    border-radius: 6px;
}

.container>.products>.details>.detailsOn>img {
    width: 130px;
    height: 105px;
    padding: 5px;
    border-radius: 12px;
}

.container>.products>.details>.detailsOn>.nameWrap, .container>.products>.details>.detailsOn>.descriptionsWrap, .container>.products>.details>.detailsOn>.priceWrap {
    text-transform: capitalize;
    line-height: 24px;
    padding: 5px;
}

.container>.products>.details>.detailsOn>.nameWrap>input, .container>.products>.details>.detailsOn>.priceWrap>input {
    height: 25px;
    padding-left: 5px;
}

.container>.products>.details>.detailsOn>.nameWrap>input, .container>.products>.details>.detailsOn>.descriptionsWrap>textarea {
    width: 100%;
}

.container>.products>.details>.detailsOn>.nameWrap>input {
    text-transform: capitalize;
}

.container>.products>.details>.detailsOn>.descriptionsWrap>textarea {
    height: 65px;
    padding: 7px;
    resize: none;
    font-size: larger;
}

.container>.products>.details>.detailsOn>.priceWrap>input {
    width: 75px;
}

.container>.products>.details>.detailsOn>.saveButtonWrap {
    position: relative;
    height: 35px;
}

.container>.products>.details>.detailsOn>.saveButtonWrap>button {
    position: absolute;
    height: 27px;
    width: 65px;
    right: 0;
    bottom: 0;
    margin: 0 3px 3px 0;
    background-color: var(--background-color-add-save);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

.container>.products>.details>.detailsOn>.saveButtonWrap>button:disabled {
    border: 1px solid var(--disabled-invalid-color);
    background-color: rgb(231, 230, 230);
}

.container>.pages {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container>.pages>button, .container>.pages>p {
    font-size: medium;
}

.container>.pages>button {
    background-color: inherit;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

.container>.pages>button>i {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: black;
}

.container>.pages>button>i.arrowRight {
    clip-path: polygon(0 0, 100% 50%, 0 100%, 50% 50%);
    right: -10px;
}

.container>.pages>button>i.arrowLeft {
    clip-path: polygon(100% 0, 0 50%, 100% 100%, 50% 50%);
    left: -10px;
}

/* .container>.pages>p {} */