<div class="container">

    <div class="options">

        <button>+ add</button>
        <input type="text" placeholder="search products">

        <select name="sortList" [(ngModel)]="sortListSelected" (change)="sortProducts()">
            <option *ngFor="let value of sortList" [disabled]="value === 'sort by'" [value]="value">{{value}}</option>
        </select>

    </div>

    <div class="products">

        <div class="ulWrap">
            
            <ul>
                <li id="{{product.id}}" *ngFor="let product of products">
                    
                    <button (click)="editDetails(product)" class="coverButton">
                        
                        <img src="{{product.thumbnailUrl}}" alt="thumbnail">
                        <label>
                            <strong>{{product.name}}</strong>
                            <p>{{product.description}}</p>
                        </label>
                        
                    </button>
                    
                    <button class="delete">delete</button>
                    
                </li>
                
            </ul>
            
        </div>

        <div class="details">

            <div *ngIf="!chosenProduct" class="detailsOff">

                <p>please choose a product</p>

            </div>

            <div *ngIf="chosenProduct" class="detailsOn">

                <h3 class="cover">{{chosenProduct.name}}</h3>

                <img src="{{chosenProduct.url}}" alt="url">

                <div class="nameWrap">
                    <p>name</p>
                    <input type="text" name="name" [class.invalidInput]="name.touched && !(name.value.length > 0)"
                        #name="ngModel" [(ngModel)]="chosenProduct.name">
                </div>

                <div class="descriptionsWrap">
                    <p>description</p>
                    <textarea name="description" cols="30" rows="3" [(ngModel)]="chosenProduct.description"></textarea>
                </div>

                <div class="priceWrap">
                    <p>price</p>
                    <input type="number" name="price" [class.invalidInput]="price.touched && !(price.value > 0)"
                        #price="ngModel" [(ngModel)]="chosenProduct.price"> $
                </div>

                <div class="saveButtonWrap">
                    <button (click)="updateDetail()"
                        [disabled]="price.touched && !(price.value > 0) || name.touched && !(name.value.length > 0)">save</button>
                </div>

            </div>

        </div>

    </div>

    <div class="pages">

        <button (click)="changePage('prevPage')">
            <i class="arrowLeft"></i>
            prev page
        </button>
        <p>1 of 5</p>
        <button (click)="changePage('nextPage')">
            <i class="arrowRight"></i>
            next page
        </button>

    </div>

</div>