/* all */

.d-none {
    display: none !important;
}

.inputInvalid {
    border: 2px solid red !important;
}

.opacity {
    opacity: 0.1 !important;
}

/* main container */

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: var(--main-min-height);
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    --background-color-add-save: rgb(153, 245, 183);
}

/* options */

.container>.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container>.options>.clickable>button, .container>.options>.clickable>input, .container>.options>.clickable>select {
    font-size: large;
    padding: 7px 10px;
    text-transform: capitalize;
}

.container>.options>.clickable>button {
    border-radius: 7px;
    background-color: var(--background-color-add-save);
    cursor: pointer;
}

.container>.options>.clickable>input {
    border-radius: 15px;
    text-align: center;
    outline: 0;
}

.container>.options>.clickable>select {
    border-radius: 5px;
}

.container>.options>form {
    margin: 15px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(153, 94, 192, 0.144);
    position: relative;
}

.container>.options>form input {
    outline: 0;
}

.container>.options>form>.valueInput {
    width: 100%;
    height: 100%;
}

.container>.options>form>.valueInput>.nameWrap, .container>.options>form>.valueInput>.priceWrap, .container>.options>form>.valueInput>.thumbnailUrlWrap, .container>.options>form>.valueInput>.urlWrap {
    position: relative;
    width: fit-content;
}

.container>.options>form>.valueInput input {
    height: fit-content;
    text-align: start;
    padding: 5px 0 5px 10px;
    border-radius: 10px;
    border: 2px solid rgb(54, 54, 54);
    box-shadow: 0 0 2px inset rgba(81, 173, 81, 0.623);
}

.container>.options>form>.valueInput label {
    color: rgb(230, 93, 93);
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px 6px 0;
    font-size: smaller;
    cursor: inherit;
}

.container>.options>form>.valueInput small {
    color: red;
    display: block;
    text-align: center;
    margin-top: 7px;
}

.container>.options>form>.valueInput small::first-letter {
    text-transform: uppercase;
}

.container>.options>form>.valueInput>.gridFullRow {
    grid-row: 3/4;
    grid-column: 1/3;
}

.container>.options>form>.actions {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container>.options>form>.actions>input {
    text-align: center;
    cursor: pointer;
    border-radius: 13px;
    padding: 6px 8px;
    text-transform: capitalize;
    --form-input-border-color-top-bottom: rgb(48, 4, 68);
    --form-input-border-px-top-bottom: 2px;
    --form-input-border-color-left-right: rgb(23, 23, 24);
    --form-input-border-px-left-right: 4px;
    border-top: var(--form-input-border-px-top-bottom) solid var(--form-input-border-color-top-bottom);
    border-bottom: var(--form-input-border-px-top-bottom) solid var(--form-input-border-color-top-bottom);
    border-left: var(--form-input-border-px-left-right) solid var(--form-input-border-color-left-right);
    border-right: var(--form-input-border-px-left-right) solid var(--form-input-border-color-left-right);
}

.container>.options>form>.actions>input:first-of-type {
    background-color: var(--background-color-add-save);
}

.container>.options>form>.actions>input:last-of-type {
    background-color: rgb(247, 82, 82);
}

.container>.options>form>.saveSuccess {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 220px;
    border-radius: 20px;
    border: 1px solid gray;
    box-shadow: 0 0 1px 1px inset rgb(117, 219, 117), 0 0 2px rgb(143, 174, 233);
    background-color: white;
    padding: 10px;
    margin: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container>.options>form>.saveSuccess>p {
    font-size: larger;
    text-align: center;
}

.container>.options>form>.saveSuccess>p::first-letter {
    text-transform: uppercase;
    color: rgb(94, 45, 185);
}

.container>.options>form>.saveSuccess>input {
    background-color: inherit;
    color: green;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: x-large;
    width: fit-content;
    padding: 5px;
}

/* products */

.container>.products {
    --height-inner-element: 80px;
    --height-inner-element-margin-buttom: 10px;
    --amount-li-elements: 5;
    --height-ulWrap: calc( (var(--height-inner-element) + var( --height-inner-element-margin-buttom)) * var(--amount-li-elements));
    display: flex;
    margin: 20px 0;
    padding: var(--height-element-padding);
    border-radius: 8px;
    box-shadow: 0px 0px 30px rgba(80, 80, 80, 0.4);
}

.container>.products>.ulWrap {
    height: var(--height-ulWrap);
    overflow-y: hidden;
}

.container>.products>.ulWrap>ul {
    padding: 0;
    list-style: none;
    height: fit-content;
    transition: 1.2s ease-in-out;
}

.container>.products>.ulWrap>ul>li {
    height: 100%;
    width: 100%;
    position: relative;
    border: 1px solid black;
    background-color: rgb(245, 245, 245);
    transition: .3s ease-out;
    border-radius: 5px;
    margin-bottom: var( --height-inner-element-margin-buttom);
}

.container>.products>.ulWrap>ul>li:hover {
    background-color: rgb(206, 209, 211);
}

.container>.products>.ulWrap>ul>li>.coverButton {
    background: inherit;
    outline: 0;
    border: 0;
    cursor: pointer;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: inherit;
    align-items: center;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.container>.products>.ulWrap>ul>li>.coverButton>img, .container>.products>.ulWrap>ul>li>.coverButton>label {
    cursor: pointer;
}

.container>.products>.ulWrap>ul>li>.coverButton>img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 5px;
}

.container>.products>.ulWrap>ul>li>.coverButton>label {
    text-align: start;
    padding-left: 10px;
    line-height: 25px;
    padding: 5px;
    width: calc(100% - var(--delete-button-width) - var(--delete-magrin-right));
    margin-right: 10px;
}

.container>.products>.ulWrap>ul>li>.coverButton>label>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container>.products>.ulWrap>ul>li>.coverButton>label::first-letter, .container>.products>.ulWrap>ul>li>.coverButton>label>p::first-letter {
    text-transform: uppercase;
}

.container>.products>.ulWrap>ul>li>.delete {
    width: var(--delete-button-width);
    margin-right: var(--delete-magrin-right);
    margin-bottom: 5px;
    background-color: rgb(248, 192, 89);
    border-radius: 5px;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: capitalize;
    cursor: pointer;
}

.container>.products>.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.container>.products>.details>.detailsOff {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container>.products>.details>.detailsOff>p {
    text-align: center;
}

.container>.products>.details>.detailsOff>p::first-letter {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(27, 26, 26);
}

.container>.products>.details>.detailsOn {
    --disabled-invalid-color: rgb(214, 59, 59);
}

.container>.products>.details>.detailsOn>h3.cover {
    position: absolute;
    top: -12px;
    left: 0;
    font-weight: normal;
    margin-left: 15px;
    background: white;
    padding: 0 5px;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container>.products>.details>.detailsOn>h3.cover::first-letter {
    text-transform: uppercase;
}

.invalidInput {
    border: 2px solid var(--disabled-invalid-color);
    border-radius: 6px;
}

.container>.products>.details>.detailsOn>img {
    width: 130px;
    height: 105px;
    padding: 5px;
    border-radius: 12px;
}

.container>.products>.details>.detailsOn>.nameWrap, .container>.products>.details>.detailsOn>.descriptionsWrap, .container>.products>.details>.detailsOn>.priceWrap {
    text-transform: capitalize;
    line-height: 24px;
    padding: 5px;
}

.container>.products>.details>.detailsOn>.nameWrap>input, .container>.products>.details>.detailsOn>.priceWrap>input {
    height: 25px;
    padding-left: 5px;
}

.container>.products>.details>.detailsOn>.nameWrap>input, .container>.products>.details>.detailsOn>.descriptionsWrap>textarea {
    width: 100%;
}

.container>.products>.details>.detailsOn>.nameWrap>input {
    text-transform: capitalize;
}

.container>.products>.details>.detailsOn>.descriptionsWrap>textarea {
    height: 65px;
    padding: 7px;
    resize: none;
    font-size: larger;
}

.container>.products>.details>.detailsOn>.priceWrap>input {
    width: 75px;
}

.container>.products>.details>.detailsOn>.saveButtonWrap {
    position: relative;
    height: 35px;
}

.container>.products>.details>.detailsOn>.saveButtonWrap>button {
    position: absolute;
    height: 27px;
    width: 65px;
    right: 0;
    bottom: 0;
    margin: 0 3px 3px 0;
    background-color: var(--background-color-add-save);
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

.container>.products>.details>.detailsOn>.saveButtonWrap>button:disabled {
    border: 1px solid var(--disabled-invalid-color);
    background-color: rgb(231, 230, 230);
}

.container>.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container>.pages>button {
    background-color: inherit;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
}

.container>.pages>button>i {
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 15px;
    height: 100%;
    background-color: black;
}

.container>.pages>button>i.arrowRight {
    clip-path: polygon(0 0, 100% 50%, 0 100%, 50% 50%);
    right: -10px;
}

.container>.pages>button>i.arrowLeft {
    clip-path: polygon(100% 0, 0 50%, 100% 100%, 50% 50%);
    left: -10px;
}

/* desktop open */

@media (min-width:1400px) {
    .container>.options>form input {
        width: 220px;
    }
}

/* tablet width open */

@media (min-width:1200px) {
    .container>.options>form {
        width: 850px;
    }
}

/* tablet open */

@media (min-width:900px) {
    .container>.products {
        --width-inner-ul: 500px;
        --width-inner-details: 400px;
        --height-element-padding: 20px;
    }
    .container>.products>.ulWrap>ul>li {
        --delete-button-width: 80px;
        --delete-magrin-right: 15px;
    }
    .container>.products>.ulWrap>ul>li>.coverButton>label>strong {
        font-size: large;
    }
    .container>.products>.ulWrap>ul>li>.coverButton>label>p {
        font-size: larger;
    }
    .container>.products>.ulWrap>ul>li>.delete {
        padding: 6px 1px;
    }
    .container>.products>.details>.detailsOff>p {
        font-size: x-large;
    }
    .container>.products>.details>.detailsOn>h3.cover {
        font-size: large;
    }
    .container>.pages {
        width: 400px;
    }
    .container>.pages>button, .container>.pages>p {
        font-size: medium;
    }
}

/* mobile width open */

@media (min-width:450px) {
    .container>.options>.clickable {
        width: 480px;
        display: flex;
        justify-content: space-around;
    }
    .container>.options>form {
        height: 280px;
        border-radius: 50px;
    }
    .container>.options>form>.valueInput {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        display: grid;
        grid-gap: 10px;
        justify-items: center;
        margin-top: 15px;
    }
    .container>.options>form>.saveSuccess {
        width: 350px;
    }
    .container>.products {
        flex-direction: row;
        width: calc(var(--width-inner-ul) + var(--width-inner-details) + ( 2 * var(--height-element-padding)));
    }
    .container>.products>.ulWrap {
        width: var(--width-inner-ul);
    }
    .container>.products>.ulWrap>ul>li>.coverButton {
        width: calc(100% - var(--delete-button-width) - var(--delete-magrin-right));
    }
    .container>.products>.details {
        margin-left: 15px;
        width: var(--width-inner-details);
    }
}

/* tablet close */

@media (min-width:900px) and (max-width:1399px) {
    .container>.options>form input {
        width: 205px;
    }
}

/* tablet width close*/

@media (min-width:1200px) and (max-width:1399px) {}

/* tablet height close*/

@media (min-width:900px) and (max-width:1199px) {
    .container>.options>form {
        width: 800px;
    }
}

/* mobile open down*/

@media (max-width:899px) {
    .container>.pages>button, .container>.pages>p {
        font-size: small;
    }
}

/* mobile width close */

@media (min-width:450px) and (max-width:899px) {
    .container>.options>form {
        width: 93vw;
        max-width: 610px;
    }
    .container>.options>form input {
        width: 195px;
    }
    .container>.products {
        --width-inner-ul: 57vw;
        --width-inner-details: 34vw;
        --height-element-padding: 15px;
    }
    .container>.products>.ulWrap>ul>li {
        --delete-button-width: 70px;
        --delete-magrin-right: 10px;
    }
    .container>.products>.ulWrap>ul>li>.coverButton>label>strong {
        font-size: medium;
    }
    .container>.products>.ulWrap>ul>li>.coverButton>label>p {
        font-size: small;
    }
    .container>.products>.ulWrap>ul>li>.delete {
        padding: 3px 1px;
    }
    .container>.products>.details>.detailsOff>p {
        font-size: large;
    }
    .container>.products>.details>.detailsOn>h3.cover {
        font-size: medium;
    }
    .container>.pages {
        width: 300px;
    }
}

/* mobile height open */

@media (max-width:449px) {
    .container>.options>.clickable {
        width: 85vw;
        max-width: 280px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 8px;
    }
    .container>.options>.clickable>button {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .container>.options>.clickable>input {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .container>.options>.clickable>select {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .container>.options>form {
        width: 93vw;
        height: 350px;
        border-radius: 23px;
    }
    .container>.options>form>.valueInput {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 8px;
    }
    .container>.options>form>.valueInput>.nameWrap, .container>.options>form>.valueInput>.priceWrap, .container>.options>form>.valueInput>.thumbnailUrlWrap, .container>.options>form>.valueInput>.urlWrap {
        height: 50px;
    }
    .container>.options>form>.valueInput input {
        width: 250px;
    }
    .container>.options>form>.actions>input {
        width: 130px;
    }
    .container>.options>form>.saveSuccess {
        width: 90vw;
        max-width: 350px;
    }
    .container>.products {
        flex-direction: column;
        --products-width: 90vw;
        --width-inner-ul: var(--products-width);
        --width-inner-details: var(--products-width);
        --height-details: 400px;
        --height-details-margin-top: 10px;
        --height-element-padding: 15px;
        width: var(--products-width);
    }
    .container>.products>.ulWrap {
        width: 100%;
    }
    .container>.products>.ulWrap>ul>li {
        --delete-button-width: 60px;
        --delete-magrin-right: 5px;
    }
    .container>.products>.ulWrap>ul>li>.coverButton {
        width: calc(100% - var(--delete-button-width) - var(--delete-magrin-right));
    }
    .container>.products>.details {
        width: 100%;
        margin-top: 15px;
        height: 400px;
    }
    .container>.pages {
        width: 250px;
    }
}