label {
    color: oldlace;
    width: 70px;
}

small {
    left: 30px;
}

h1, h2 {
    color: white;
}

select {
    outline-style: none;
    box-shadow: 0 0 0 1px rgb(145, 140, 145);
}

select:focus {
    color: white;
    background-color: rgb(34, 34, 32);
}

input:focus {
    outline-style: inherit;
    box-shadow: 0 0 0 1px rgb(145, 140, 145);
    background-color: rgba(250, 241, 232, 0.788);
}

input:hover {
    background-color: inherit;
    color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    text-align: center;
    color: lightcoral;
}

.space {
    width: 60px;
}

.button {
    right: 3%;
    max-width: 160px;
}