<div class="text-center">

  <br>
  <button class="btn-lg btn-danger col-10" *ngIf="!login" (click)="isLogin()">Lets started</button>

  <div *ngIf="login">

    <form (submit)="submit()">

      <div id="egg" class="invisible">
        <label class="p-1">Egg</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Egg" name="egg"
          placeholder="eggs" [(ngModel)]="protein.egg">
      </div>

      <div id="bread" class="invisible">
        <label class="p-1">Bread</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Bread" name="bread"
          placeholder="slices" [(ngModel)]="protein.bread">
      </div>

      <div id="tuna" class="invisible">
        <label class="p-1">Tuna</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Tuna" name="tuna"
          placeholder="gram" [(ngModel)]="protein.tuna">
      </div>

      <div id="meat" class="invisible">
        <label class="p-1">Meat</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Meat" name="meat"
          placeholder="gram" [(ngModel)]="protein.meat">
      </div>

      <div id="cheese" class="invisible">
        <label class="p-1">Cheese</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Cheese" name="cheese"
          placeholder="gram" [(ngModel)]="protein.cheese">
      </div>

      <div id="cottage" class="invisible">
        <label class="p-1">Cottage</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Cottage"
          name="cottage" placeholder="gram" [(ngModel)]="protein.cottage">
      </div>

      <div id="quinoa" class="invisible">
        <label class="p-1">Quinoa</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Quinoa" name="quinoa"
          placeholder="gram" [(ngModel)]="protein.quinoa">
      </div>

      <div id="almonds" class="invisible">
        <label class="p-1">Almonds</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Almonds"
          name="almonds" placeholder="gram" [(ngModel)]="protein.almonds">
      </div>

      <div id="powder" class="invisible">
        <label class="p-1">Powder</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Powder" name="powder"
          placeholder="gram" [(ngModel)]="protein.powder">
      </div>

      <div id="gainer" class="invisible">
        <label class="p-1">Gainer</label>
        <input class="text-center rounded-pill border border-danger p-1 m-1" type="number" title="Gainer" name="gainer"
          placeholder="gram" [(ngModel)]="protein.gainer">
      </div>

      <div id="submit" class="invisible">

        <input class="btn-secondary rounded-pill border col-3 col-xl-1 col-lg-1 col-md-1 col-sm-2 far" type="button"
          value="&#xf06e; Show" (click)="show()">

        <input class="btn-secondary rounded-pill border col-3 col-xl-1 col-lg-1 col-md-1 col-sm-2 far" type="submit"
          value="&#xf0c7; Save">

      </div>

    </form>

  </div>

</div>