<div>

  <div>
    <h1 class="text-center">muscle is your life?</h1>
    <h2 class="text-center">Let's start to calculate your protein </h2>
  </div>

  <br>
  <div class="text-center">
    <button class="btn-lg btn-danger col-10" *ngIf="!acccept" (click)="isAcccept()">Lets started</button>
  </div>

  <div *ngIf="acccept">

    <form (submit)="submit()">

      <div class="container">

        <div id="egg" class="invisible">

          <div class="row justify-content-center">
            <small class="text-danger p-2 m-1"
              [class.d-none]="egg.untouched || !egg.value || egg.value && eggSize.dirty">You must
              choose a size <i class="fas fa-arrow-circle-right"></i></small>
          </div>

          <div class="row justify-content-center">

            <label class="p-1 col-2 col-sm-2 col-md-1">Egg</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Egg" #egg="ngModel" name="egg" placeholder="amount" [(ngModel)]="protein.egg.amount">

            <select class="rounded-pill border border-danger p-1 m-1 space" [(ngModel)]="protein.egg.sizeEgg"
              #eggSize="ngModel" name="eggSize">
              <option [value]="size" disabled>size</option>
              <option value="S">S</option>
              <option value="M">M</option>
              <option value="L">L</option>
            </select>

          </div>

        </div>

        <div id="bread" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Bread</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Bread" name="bread" placeholder="slices" [(ngModel)]="protein.bread">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="tuna" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Tuna</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Tuna" name="tuna" placeholder="grams" [(ngModel)]="protein.tuna">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="meat" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Meat</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Meat" name="meat" placeholder="grams" [(ngModel)]="protein.meat">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="cheese" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Cheese</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Cheese" name="cheese" placeholder="grams" [(ngModel)]="protein.cheese">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="cottage" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Cottage</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Cottage" name="cottage" placeholder="grams" [(ngModel)]="protein.cottage">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="quinoa" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Quinoa</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Quinoa" name="quinoa" placeholder="grams" [(ngModel)]="protein.quinoa">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="almonds" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Almonds</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Almonds" name="almonds" placeholder="grams" [(ngModel)]="protein.almonds">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="powder" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Powder</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Powder" name="powder" placeholder="portions" [(ngModel)]="protein.powder">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="gainer" class="invisible">
          <div class="row justify-content-center">
            <label class="p-1 col-2 col-sm-2 col-md-1">Gainer</label>
            <input class="text-center rounded-pill border border-danger p-1 m-1 col-5 col-md-3 col-lg-2" type="number"
              title="Gainer" name="gainer" placeholder="portions" [(ngModel)]="protein.gainer">
            <div class="space p-1 m-1"></div>
          </div>
        </div>

        <div id="submit" class="invisible">
          <div class="row justify-content-center">
            <div class="col-1"></div>
            <input class="btn-secondary rounded-pill border far col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3 button"
              type="button" value="&#xf06e; Show" (click)="show()">

            <input class="btn-secondary rounded-pill border far col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3 button"
              [disabled]="!login" type="submit" value="&#xf0c7; Save">

          </div>
        </div>

      </div>

    </form>

  </div>

</div>