small {
    left: 30px;
}

h1, h2 {
    color: white;
}

.opacity {
    opacity: 0.3;
}

label {
    position: relative;
    color: oldlace;
    width: 70px;
}

label:hover {
    color: black;
    transition-duration: 2s;
}

label::before {
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition-duration: 2s;
    background: linear-gradient(to right, rgb(201, 169, 169), rgb(196, 111, 111));
}

label:hover::before {
    width: 100%;
}

select {
    border-radius: 17px;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(145, 140, 145);
}

select:focus {
    color: white;
    background-color: rgb(34, 34, 32);
}

input {
    animation-name: input;
    animation-duration: 3s;
}

input:focus {
    outline-style: inherit;
    box-shadow: 0 0 0 1px rgb(145, 140, 145);
    background-color: rgba(250, 241, 232, 0.788);
}

input:hover {
    background-color: inherit;
    color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::placeholder {
    text-align: center;
    color: lightcoral;
}

.space {
    width: 70px;
}

.button {
    right: 3%;
    max-width: 160px;
}

.cancel {
    padding: 0;
    border: 0;
    outline: 0;
    color: red;
    text-shadow: red;
    background-color: rgb(59, 63, 57);
}

.navigate {
    padding: 0;
    border: 0;
    outline: 0;
    color: rgb(179, 5, 5);
    background-color: inherit;
    font-weight: bold;
    font-style: oblique;
}

.popup {
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 40%;
    margin: -5% auto;
    left: 0;
    right: 0;
    background-color: pink;
    color: seashell;
}

.show {
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color: seashell;
    background-color: rgb(88, 81, 81);
}

.showButton {
    background-color: inherit;
    color: rgb(127, 255, 110);
    outline: 0;
    border: 0;
    padding: 0;
}

.showButton:hover {
    color: rgb(87, 241, 67);
}

.cardImage {
    opacity: 0.9;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
}

@keyframes input {
    from {
        transform: rotate(180deg) translateX(250px);
        background-color: rgb(7, 7, 7);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-height: 420px) {
    .popup {
        margin: -12% auto;
        height: 50%;
    }
    .show {
        top: 65%;
    }
}

@media (max-height: 330px) {
    .show {
        z-index: 9999;
    }
}