.card {
    max-width: 28rem;
    background-color: rgb(175, 171, 169);
}

.image {
    width: 100%;
    height: 100%;
    max-height: 250px;
    padding: 0;
    margin: 0;
    opacity: 0.9;
}

hr {
    background-color: paleturquoise;
}

.invalid {
    background-color: pink;
    color: black;
    border-color: red;
    box-shadow: 0 0 0 3px rgb(240, 135, 135);
}

input:focus {
    outline-style: inherit;
    box-shadow: 0 0 0 1px rgb(145, 140, 145);
    background-color: rgba(250, 241, 232, 0.788);
}

.terms, .terms:focus {
    padding: 0;
    border: 0;
    outline: inherit;
    background-color: inherit;
    color: rgb(56, 60, 253);
}

input[type="radio"] {
    display: none;
}

.radioMale, .radioFemale {
    background-color: gray;
    display: inline-block;
    width: 70px;
}

.radioMale:hover, .radioFemale:hover {
    background-color: rgb(61, 55, 61);
    color: darkgrey;
}

input[type="radio"]:checked+.radioMale {
    background-color: rgb(117, 194, 245);
    color: rgb(56, 60, 253);
}

input[type="radio"]:checked+.radioFemale {
    background-color: rgb(252, 218, 242);
    color: rgb(252, 89, 184);
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    color: rgb(0, 60, 255);
}

small {
    display: block;
}

.width {
    width: 24px;
}

.userCreated {
    position: fixed;
    width: 400px;
    height: 200px;
    left: 50%;
    top: 50%;
    padding: 30px;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: rgb(248, 79, 164);
    background: linear-gradient(to bottom, rgb(240, 207, 207), rgb(201, 176, 206));
}

.userCreatedButton {
    border-color: rgb(247, 109, 139);
    border-radius: 35%;
    border-style: double;
    padding: 5px;
    margin: 13px;
    background-color: inherit;
    color: rgb(247, 100, 100);
    outline: inherit;
}

.opacity {
    opacity: 0.3;
}

@media (max-width: 415px) {
    .card {
        max-width: 24rem;
    }
    .userCreated {
        width: 375px;
    }
}

@media (max-width: 390px) {
    .card {
        max-width: 22rem;
    }
    .userCreated {
        width: 340px;
    }
}

@media (max-width: 350px) {
    .card {
        max-width: 18rem;
    }
    .card-body {
        padding: 0.6rem;
    }
    .userCreated {
        width: 280px;
        top: 60%;
    }
}

@media(max-height:420px) {
    .userCreated {
        height: 160px;
        top: 65%;
    }
}

@media(max-height:330px) {
    .userCreated {
        height: 140px;
        top: 74%;
    }
    .userCreatedButton {
        margin: 0;
    }
}