<div>

    <div *ngIf="userCreated$ | async" class="text-center">

        <div class="userCreated">

            <h4>Your user has been created successfully!</h4>
            <button (click)="createUserNavigate()" class="userCreatedButton">Login <i
                    class="fas fa-sign-in-alt"></i></button>

        </div>

    </div>

    <div [class.opacity]="userCreated$ | async" class="card">

        <div class="row">

            <div class="col-8">

                <div class="card-body">

                    <h5 class="card-title ">Lets create an user</h5>
                    <form (ngSubmit)="createUser()" #userForm="ngForm">

                        <div>
                            <p class="m-0">Enter an username</p>
                            <small class="text-danger" [class.d-none]="username.untouched || username.valid">
                                Must to enter only three letters at least</small>

                            <input type="text" title="Enter an username" name="username" #username="ngModel"
                                [(ngModel)]="user.username" required pattern="^[a-zA-Z]{3,}$"
                                [class.border-danger]="username.invalid && username.touched"
                                class="rounded-pill border border-primary">
                        </div>

                        <div>
                            <p class="m-0">Enter a password</p>

                            <div class="text-danger" [class.d-none]="password.untouched || password.valid">
                                <small>Must to enter eight letters at least.</small>
                                <small>(one upper case one lower case and a number)</small>
                            </div>

                            <input type="password" title="Enter a password" name="password" #password="ngModel"
                                [(ngModel)]="user.password" required
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                                [class.border-danger]="password.invalid && password.touched"
                                class="rounded-pill border border-primary">
                        </div>

                        <div>
                            <p class="m-0">Enter again a password to confirm</p>

                            <div class="text-danger"
                                [class.d-none]="confirmPassword.untouched || confirmPassword.valid && confirmPassword.value===password.value">
                                <small>Your passwords isn't match!</small>
                                <small>Please try again.</small>
                            </div>

                            <input type="password" title="Enter again a password to confirm" name="confirmPassword"
                                #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" [disabled]="password.invalid"
                                [class.border-danger]="confirmPassword.touched && confirmPassword.value!==password.value"
                                class="rounded-pill border border-primary">
                        </div>

                        <div>
                            <p class="m-0">Enter your weight</p>
                            <small class="text-danger" [class.d-none]="weight.untouched || weight.valid">Your weight
                                must be greater than 0.</small>

                            <input type="number" title="Enter your weight" name="weight" #weight="ngModel"
                                [(ngModel)]="user.weight" required pattern="^[1-9]\d*$"
                                [class.border-danger]="weight.invalid && weight.touched"
                                class="rounded-pill border border-primary">
                        </div>

                        <div>
                            <p class="m-0">What is your gender ?</p>

                            <div class="text-center">
                                <label>
                                    <input type="radio" name="male" #male="ngModel" value="Male" required
                                        [(ngModel)]="user.gender">
                                    <span class="rounded-pill text-center m-1 radioMale"><i
                                            class="fas fa-male m-1"></i></span>
                                </label>

                                <label>
                                    <input type="radio" name="female" #female="ngModel" value="Female" required
                                        [(ngModel)]="user.gender">
                                    <span class="rounded-pill text-center m-1 radioFemale"><i
                                            class="fas fa-female m-1"></i></span>
                                </label>
                            </div>

                        </div>

                        <div>
                            <small>

                                <label class="width">
                                    <input type="checkbox" name="accept" #accept="ngModel" ngModel required>
                                    <span>
                                        <i *ngIf="accept.valid" class="fas fa-check-circle fa-lg checkbox"></i>
                                        <i *ngIf="accept.invalid" class="fas fa-circle fa-lg checkbox"></i>
                                    </span>
                                </label>
                                <label>By clicking Sign Up, you</label><br>
                                <span>agree to our </span>
                                <input type="button" value="Terms" class="terms" (click)="showTerms()">

                            </small>

                            <div *ngIf="terms">
                                <p>By clicking Sign Up, you agree to our Data Policy and Cookies Policy</p>
                            </div>
                        </div>

                        <div>
                            <hr>
                            <div class="text-center">
                                <input type="submit" value="Sign Up &#xf234;"
                                    [class.invalid]="(username.touched && password.touched && confirmPassword.touched && weight.touched && accept.dirty && (male.dirty || female.dirty)) && (confirmPassword.value!==password.value || userForm.form.invalid)"
                                    [disabled]="userForm.form.invalid || confirmPassword.value!==password.value && confirmPassword.touched"
                                    class="btn btn-outline-primary rounded-pill fas m-1 w-75">
                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div class="col-4">
                <img src="/assets/photos/bodybuilder_register.jpg" class="image">
                <hr>
                <small>Dreams come true sometimes</small>
            </div>

        </div>

    </div>

</div>