<div>

  <div class="textContainer">

    <div class="coverShape"></div>

    <h1>
      <span class="upper">d</span>
      <span>o</span>
      <span>&nbsp;</span>
      <span class="upper">y</span>
      <span>o</span>
      <span>u</span>
      <span>&nbsp;</span>
      <span class="upper">w</span>
      <span>a</span>
      <span>n</span>
      <span>t</span>
      <span>&nbsp;</span>
      <span class="upper">t</span>
      <span>o</span>
      <span>&nbsp;</span>
      <span class="upper">i</span>
      <span>m</span>
      <span>p</span>
      <span>r</span>
      <span>o</span>
      <span>v</span>
      <span>e</span>
      <span>&nbsp;</span>
      <span class="upper">y</span>
      <span>o</span>
      <span>u</span>
      <span>r</span>
      <span>&nbsp;</span>
      <span class="upper">l</span>
      <span>i</span>
      <span>f</span>
      <span>e</span>
      <span>!</span>

    </h1>
    <h2>we can offer you a lot of variety</h2>
    <p>we have a lot of experience just keep going</p>

    <div class="text">

      <p>have a lot of ways to improve your life like:</p>
      <ul>
        <li>find an energizing midday activity that’s good for you.</li>
        <li>re-do your bedroom for a better night’s sleep.</li>
        <li>develop a consistent bedtime routine.</li>
        <li>do a bunch of little productive tasks.</li>
        <li>revisit your goals.</li>
      </ul>

      <p>but if all things above isn't help you</p>
      <strong>keep scrcolling to our sulution</strong>

    </div>

    <div class="inner">

      <img src="../assets/photos/textContainer/sea.jpg" alt="sea">

    </div>

  </div>

  <div class="imgContainer">

    <div class="coverShape"></div>
    <h3>we can offer you better life</h3>

    <div class="flex">
      <img src="../assets/photos/imgContainer/walk.jpg" alt="walk" class="walk">
      <img src="../assets/photos/imgContainer/yoga.jpg" alt="yoga" class="yoga">
    </div>

    <h3>look interesting keep scrolling</h3>

    <div class="flex">
      <img src="../assets/photos/imgContainer/seaAtNight.jpg" alt="seaAtNight" class="seaAtNight">
      <img src="../assets/photos/imgContainer/elephant.jpg" alt="elephant" class="elephant">
    </div>

    <h3>and a lot more !!!</h3>

  </div>

  <div class="parallaxContainer">

    <img src="../assets/photos/parallaxContainer/surf.jpg" alt="surf" class="background">

    <div class="parallax-bg imageBox skateboard" data-speed="7"></div>
    <div class="parallax-bg imageBox sunbathing" data-speed="5"></div>
    <div class="parallax-bg imageBox busTrip" data-speed="9"></div>
    <div class="parallax-bg lookAtTrees" data-speed="2"></div>
    <div class="parallax-bg parallaxTextContainer firstText" data-speed="20">
      <p>we match everything for your purpose</p>
    </div>
    <div class="parallax-bg parallaxTextContainer secondText" data-speed="19">
      <p>this is not a dream</p>
    </div>
    <div class="parallax-bg imageBox pillows" data-speed="5"></div>
    <div class="parallax-bg imageBox ship" data-speed="7"></div>
    <div class="parallax-bg imageBox specialYoga" data-speed="7"></div>

  </div>

  <div class="formContainer">

    <div class="coverShape-left"></div>
    <div class="coverShape-right"></div>
    <div class="picture"></div>

    <div class="formOuter">

      <h3>last step for change your life</h3>
      <h4>fulfil the lines and we will contact with you</h4>

      <form (change)="inputValidation()" (ngSubmit)="submit()">

        <div class="grid grid-1">
          <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
          <label>first name</label>
        </div>

        <div class="grid grid-2">
          <input type="text" name="lastName" [(ngModel)]="user.lastName" required>
          <label>last name</label>
        </div>

        <div class="grid grid-3">
          <input type="text" name="email" [(ngModel)]="user.email" required>
          <label>email</label>
        </div>

        <input type="submit" value="let's continue" [disabled]="inputTouch && !inputValid" class="grid-4">

      </form>

    </div>

    <div *ngIf="emailSentSuccessfully" class="messageContainer">
      <div class="messageSent">
        <p>It was sent successfully</p>
        <p>we'll be in touch with you</p>
        <button (click)="toggleMessage()">close</button>
      </div>
    </div>

  </div>

</div>