form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
width: 100%;
}

form input{
    border-radius: 5px;
    border: 1px solid black;
    outline: 0;
    padding: 4px;
    text-align: center;

}

form small{
  color: red;
  display: block;
  margin-bottom: 5px;
  padding: 3px;
}