<header>

    <h1>תיק עבודות</h1>
    <hr>

    <img src="../assets/me1.jpg" alt="img" class="left">
    <img src="../assets/codding.jpg" alt="img" class="right">

    <div class="center">
        <h2>מעט על עצמי</h2>
        <h3>שמי ליחי טירם ואני חייב לספר לכם איך הכל התחיל</h3>
        <h3>
            שהייתי קטן התחברתי לתחום המחשבים ומאז הבנתי שזה מה שאני אוהב לעשות בחיים, נרשמתי לקורס בג'ון ברייס והתחללתי
            ללמוד, סיימתי בהצטיינות עם ממוצע 92
        </h3>
        <h3>לאחר שסימתי את הקורס לא הייתי מסופק מהידע שצברתי בקורס ולמדתי מלא דברים חדשים לדוגמה</h3>

        <div class="examples">
            <h4><span>ngrx</span> - state management</h4>
            <h4><span>gsap</span></h4>
            <h4>enhance - <span>css</span></h4>
        </div>

        <h3>אני בן אדם רציני עם שאיפות גדולות ולא מפחד מאתגרים</h3>

    </div>

</header>