<header>

    <h1>תיק עבודות</h1>
    <hr>

    <img src="../assets/header/myself.jpg" alt="img" class="left">
    <img src="../assets/header/codding.jpg" alt="img" class="right">

    <div class="center">
        <h2>מעט על עצמי</h2>
        <h3>שמי ליחי טירם בן 28, מפתח אתרים ו - <span>full stack</span>.</h3>
        <h3>אני רוצה לספר לכם איך הכל התחיל - מאז ומתמיד עוד כשהייתי קטן התחברתי לתחום המחשבים זה התחיל ממשחקי מחשב,
            שהבנתי שמה שמעניין אותי באמת זה איך המשחק בנוי ולא המשחק בפועל.</h3>
        <h3>לאט לאט חקרתי את התחום והבנתי שזה מה שאני רוצה לעשות בחיים נרשמתי לקורס בג'ון ברייס והתחלתי ללמוד, סיימתי
            בהצטיינות עם ממוצע 92.</h3>
        <h3>לאחר שסיימתי את הקורס לא הייתי מסופק מהידע שצברתי בקורס ולמדתי מלא דברים חדשים לדוגמא:</h3>

        <div class="examples">
            <h4><span>ngrx</span> - state management</h4>
            <h4><span>gsap</span></h4>
            <h4>enhance - <span>css</span></h4>
        </div>

        <h3>אני בן אדם רציני עם שאיפות גדולות ולא מפחד מאתגרים.</h3>
    </div>

</header>

<div class="container">
    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>blah blah blah</h1>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
            </div>
            <div class="purpose">
                <h2>blah blah blah</h2>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
            </div>
            <div class="links">
                <h4>blah blah blah blah blah blah</h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/waylife.jpg" alt="waylife">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>blah blah blah</h1>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
            </div>
            <div class="purpose">
                <h2>blah blah blah</h2>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
            </div>
            <div class="links">
                <h4>blah blah blah blah blah blah</h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/protein.jpg" alt="protein">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>blah blah blah</h1>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
            </div>
            <div class="purpose">
                <h2>blah blah blah</h2>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
                <p>blah blah blah blah blah blah</p>
            </div>
            <div class="links">
                <h4>blah blah blah blah blah blah</h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/coupon.jpg" alt="coupon">
            <p>תצוגת קדימה</p>
        </div>

    </section>
</div>

<footer>

    <p>צור קשר</p>

    <div class="contactMeContainer">
        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=972527466078"><i
                class="fab fa-2x fa-whatsapp"></i></a>
        <a class="phone" href="tel:0527466078"><i class="fas fa-2x fa-phone"></i></a>
        <a class="messenger" href="https://m.me/LichayTiram"><i class="fab fa-2x fa-facebook-messenger"></i></a>
        <a class="envelope" href="mailto:LichayTiram@gmail.com"><i class="fas fa-2x fa-envelope"></i></a>
    </div>

</footer>