<img src="/assets/photos/body_building.jpg" class="backgroundImage">

<div class="container">


    <h2 class="text-center">Protein for healthy muscle and bone</h2>

    <strong>proteins in the diet contribute significantly to the production of energy for the body.</strong>

    <p>Dietary proteins provide amino acids as building blocks for growth, repair and maintenance of proteins in the
        body. The body does not have a mechanism for storing amino acids or protein, unlike carbohydrates which can be
        stored as glycogen and fats that can be stored as triacylglycerides.</p>

    <p>When we have sufficient protein and an adequate supply of energy in our diet, the excess amino acids that are not
        used for growth or repair are either converted to glucose in the liver or are used to provide energy. Without
        enough supply of dietary energy from carbohydrates and fats, the body preferentially uses amino acids for energy
        production at the expense of growth, maintenance and repair. This means that it is particularly important as we
        get older to provide enough energy in the diet from carbohydrates and fats so that dietary protein can be used
        for repair and maintenance.</p>

    <p>Dietary protein is a key nutrient for muscle and bone health. Adequate dietary protein during childhood and
        adolescent years is essential in order to accumulate an adequate bone and muscle mass during growth. For muscles
        to grow, they need both protein and exercise, and the same is true also for bone. Dietary protein can also help
        slow down the rate of bone and muscle loss that occurs as we get older. Low and high protein diets can affect
        bone metabolism in different ways.</p>

    <p>Skeletal muscle represents a pool of protein that can be called upon as a source of energy when food is scarce or
        when the body is stressed such as after injury. A lack of protein in the diet will lead to poor muscle strength
        which can increase the risk of falling, especially in the elderly and contributes to poor recovery in patients
        who have had fractures. Low protein diets are also associated with decreased intestinal calcium absorption and
        an increase in the levels of the key bone regulatory hormone parathyroid hormone.</p>

    <p>High protein diets can increase calcium absorption and lead to an increased excretion of calcium in urine. High
        protein diets are also linked to increased production of an important bone growth factor - insulin-like growth
        factor 1. High protein diets are associated with an increased bone mineral content, a decrease in the risk of
        fractures, and improved fracture repair and recovery after injury.</p>

    <p>Muscle contains about 30% protein by weight. You might be surprised to learn that bone contains a higher
        percentage of protein than muscle weight for weight. This is because, in muscle, the proteins are mainly found
        inside the muscle cells, which contain a lot of water, while in bone, much of the protein is found outside of
        cells in densely packed fibres that contain little water.</p>

    <h4 class="text-center">Summary - all people must to eat foot with protein.</h4>

    <small>&copy; University of Liverpool/The University of Sheffield/Newcastle University</small>

</div>