.backgroundImage {
    opacity: 0.9;
    position: relative;
    padding: 0;
    z-index: -2;
    left: 15px;
    max-height: 210px;
    min-height: 165px;
}

@media (max-width: 420px) {
    .smartphone {
        max-height: 15px;
    }
    .smallSreen {
        content: url("/assets/photos/sport_girl_fitness_small_screen.jpg");
    }
}