<!-- <nav class="btn-group-vertical float-left navbar">
    <button routerLink="product/home" routerLinkActive="is-active"
        class="btn btn-outline-light left-block-padding">Home</button>
    <button routerLink="product/favorite" routerLinkActive="is-active"
        class="btn btn-outline-light left-block-padding ">Favorite</button>
    <button routerLink="product/info" routerLinkActive="is-active"
        class="btn btn-outline-light left-block-padding ">Info</button>
    <button routerLink="product/back" routerLinkActive="is-active"
        class="btn btn-outline-light left-block-padding ">Back</button>
</nav> -->

<nav class="navbar navbar-expand">

    <button routerLink="product/home" routerLinkActive="is-active" class="btn btn-outline-light col-3"><span
            class="fas fa-home"> </span> Home
        page</button>

    <button routerLink="product/favorite" routerLinkActive="is-active" class="btn btn-outline-light col-3"><span
            class="far fa-thumbs-up"></span> Favorite</button>

    <button routerLink="product/info" routerLinkActive="is-active" class="btn btn-outline-light col-2"><span
            class="fas fa-question-circle"></span> Info</button>

    <button routerLink="product/back" routerLinkActive="is-active"
        class="btn btn-outline-light col-auto offset-1 offset-sm-2  offset-md-3 offset-lg-3 offset-xl-3">
        <span class="fas fa-undo"></span> Back</button>

</nav>