.backgroundImage {
    opacity: 0.9;
    position: relative;
    padding: 0;
    top: 0;
    z-index: -2;
    height: 170px;
}

.sideImage {
    background-image: linear-gradient(to top, rgb(5, 5, 5), rgb(48, 47, 47));
}

.opacity {
    opacity: 0.3;
}

@media (max-width: 576px) {
    .smartphone {
        height: 90px;
    }
}

@media (max-height: 420px) {
    .smartphone {
        height: 60px;
    }
}