<nav class="navbar navbar-expand">

        <button routerLink="product/home" routerLinkActive="is-active" class="btn btn-outline-light col-2"><span
                        class="fas fa-home"> </span> Home</button>

        <button routerLink="product/account" routerLinkActive="is-active" class="btn btn-outline-light col-2"><span
                        class="fas fa-user-circle"> </span> Account</button>

        <button routerLink="product/favorite" routerLinkActive="is-active" class="btn btn-outline-light col-2"><span
                        class="far fa-thumbs-up"></span> Favorite</button>

        <button routerLink="product/info" routerLinkActive="is-active" class="btn btn-outline-light col-2"><span
                        class="fas fa-question-circle"></span> Info</button>

        <!-- <button class="btn btn-outline-light col-2"><span class="fas fa-toggle-on"></span> Hebrew</button> -->
        <!-- <button class="btn btn-outline-light col-2"><span class="fas fa-toggle-off"></span> English</button> -->

</nav>