<div>

        <header class="fixed-top" [class.opacity]="popupToggle">

                <nav class="navbar">

                        <button routerLink="product/home" routerLinkActive="is-active"
                                class="btn btn-outline-light col-6 col-sm bg-secondary"><span class="fas fa-home">
                                </span>
                                Home</button>

                        <button routerLink="product/{{login()}}" routerLinkActive="is-active"
                                class="btn btn-outline-light col-6 col-sm bg-dark text-light"><span
                                        class="fas fa-user-circle">
                                </span>
                                Account</button>

                        <button routerLink="product/favorite" routerLinkActive="is-active"
                                class="btn btn-outline-light col-6 col-sm bg-secondary"><span
                                        class="far fa-thumbs-up"></span>
                                Favorite</button>

                        <button routerLink="product/info" routerLinkActive="is-active"
                                class="btn btn-outline-light col-6 col-sm bg-dark text-light"><span
                                        class="fas fa-question-circle"></span>
                                Info</button>

                </nav>

                <div class="row">

                        <label class="p-0 m-0 col-1 sideImage"></label>
                        <img src="/assets/photos/bodybuilding_weightlifting.jpg"
                                class="backgroundImage col-5 smartphone">
                        <img src="/assets/photos/sport_girl_fitness.jpg" class="backgroundImage col-4 smartphone">
                        <img src="/assets/photos/sport_girl_fitness_right.jpg" class="backgroundImage col-1 smartphone">
                        <label class="p-0 m-0 col-1 sideImage"></label>

                </div>

        </header>

        <main>
                <router-outlet></router-outlet>
        </main>

        <footer [class.opacity]="popupToggle" class="text-light bg-dark text-center">
                <small>&copy; Created by - Lichay Tiram -</small>
        </footer>

</div>