.container {
    min-height: 100vh;
    width: 100%;
    background: radial-gradient(violet, rgb(97, 88, 228));
    position: relative;
}

.container>.containerRight {
    position: fixed;
    height: 100%;
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 70% 50%);
    background: linear-gradient(to top, rgba(243, 34, 34, 0.185), rgba(138, 196, 155, 0.438));
}

.container>.containerLeft {
    position: fixed;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 0 100%, 30% 50%);
    background: linear-gradient(to bottom, rgba(243, 34, 34, 0.185), rgba(138, 196, 155, 0.438));
}

.container>.header {
    padding-top: 80px;
}

.container>.header>h1 {
    margin: auto;
    display: block;
    text-align: center;
    text-transform: capitalize;
    width: 380px;
    border-radius: 10px;
    color: rgb(22, 34, 68);
    background-color: rgba(230, 167, 243, 0.753);
    text-shadow: 0.4px 0.4px 0.4px rgb(146, 17, 17);
    animation: header 2s forwards;
}

.container>.header>h1:hover {
    background-color: rgb(247, 176, 232);
    transition-duration: 3s;
    color: rgb(115, 167, 245);
    text-shadow: 0.4px 0.4px 0.4px rgb(48, 2, 85);
}

.container>.flexContainer {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin: 1px;
    min-height: 70vh;
    justify-content: space-around;
}

.container>.flexContainer>.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(236, 184, 238, 0.432);
    margin-bottom: 80px;
    height: 100px;
    z-index: 1;
    position: relative;
}

.container>.flexContainer>.flexRow:nth-child(even) {
    background-color: rgba(236, 184, 238, 0.432);
}

.flexRow h3, .flexRow h4 {
    margin: 5px;
}

.flexRow>.rightContainer, .flexRow>.leftContainer {
    width: 40%;
    height: 100%;
    background-color: rgba(220, 20, 60, 0.288);
    display: flex;
    align-items: center;
}

.flexRow>.leftContainer {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.flexRow>.rightContainer {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.flexRow .left {
    padding-left: 2%;
}

.flexRow .right {
    padding-left: 30%;
}

.flexRow>.leftContainer:hover {
    animation: flexRowLeft 2s forwards;
}

.flexRow>.rightContainer:hover {
    animation: flexRowRight 2s forwards;
}

footer>p {
    margin: 0;
    background-color: rgba(104, 104, 104, 0.466);
    height: 20px;
    text-align: center;
    text-transform: capitalize;
}

@keyframes header {
    0% {
        transform: translateY(-100px) scale(0.1);
    }
    50% {
        transform: translateY(30px) scale(1.5);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes flexRowLeft {
    to {
        transform: scaleX(1.3) scaleY(1.5) translateX(11.5%);
        background-color: rgba(230, 105, 130, 0.801);
    }
}

@keyframes flexRowRight {
    to {
        transform: translateX(-11.5%) scaleX(1.3) scaleY(1.5);
        background-color: rgba(230, 105, 130, 0.801);
    }
}