<div class="container">

  <span class="containerRight"></span>
  <span class="containerLeft"></span>
  <h1>my portfolio</h1>

  <div class="flexContainer">

    <div class="flexRow">

      <div class="leftContainer">
        <div class="left">
          <h3>hi</h3>
          <h4>new1</h4>
          <h4>new2</h4>
          <h4>new3</h4>
        </div>
      </div>

      <div class="rightContainer">
        <div class="right">
          <h3>hi</h3>
          <h4>new1</h4>
          <h4>new2</h4>
        </div>
      </div>

    </div>

    <div class="flexRow">

      <div class="leftContainer"></div>
      <div class="rightContainer"></div>

    </div>

    <div class="flexRow">

      <div class="leftContainer"></div>
      <div class="rightContainer"></div>

    </div>
  </div>

</div>