<div class="container">

  <span class="containerRight"></span>
  <span class="containerLeft"></span>

  <div class="header">
    <h1>lichay tiram</h1>
  </div>

  <div class="flexContainer">

    <div class="flexRow">

      <div class="leftContainer">
        <div class="left">
          <h3>project name - protein nutrition</h3>
          <h4>A site that explains how important protein is with an emphasis</h4>
          <h4>on fitness and proper nutrition, And allows to calculate</h4>
          <h4>the amount of protein a person ate that day.</h4>
        </div>
      </div>

      <div class="rightContainer">
        <div class="right">
          <h3>protein nutrition links</h3>
          <h4>Click <a target="_blank" href="https://protein-757b1.web.app/">here</a> to go online website</h4>
          <h4>Click <a target="_blank"
              href="https://github.com/lichaytiram/AngularRepo/tree/master/Projects/ProteinNutrition">here</a>
            to go code in github</h4>
        </div>
      </div>

    </div>

    <div class="flexRow">

      <div class="leftContainer">
        <div class="left">
          <h3>project name - coupons</h3>
          <h4>Allows customers to purchase coupons in order to receive</h4>
          <h4>discounts, there are company users who have access to create</h4>
          <h4>a new coupon etc.</h4>
        </div>
      </div>

      <div class="rightContainer">
        <div class="right">
          <h3>coupon links - technology Hibernate (JPA)</h3>
          <h4>Click <a target="_blank"
              href="https://github.com/lichaytiram/JohnBryceProjectsWeb/tree/master/CouponsProjectWithJpa">here</a> to
            go website codes in github</h4>
          <h4>Click <a target="_blank"
              href="https://github.com/lichaytiram/JohnBryceProjects/tree/master/CouponsProjectWithJpa">here</a>
            to go server codes in github</h4>
        </div>
      </div>

    </div>

    <div class="flexRow">

      <div class="leftContainer">
        <div class="left">
          <h3>project name - coupons</h3>
          <h4>Allows customers to purchase coupons in order to receive</h4>
          <h4>discounts, there are company users who have access to create</h4>
          <h4>a new coupon etc.</h4>
        </div>
      </div>

      <div class="rightContainer">
        <div class="right">
          <h3>coupon links - technology JDBC</h3>
          <h4>Click <a target="_blank"
              href="https://github.com/lichaytiram/JohnBryceProjectsWeb/tree/master/CouponsProjectWithJdbc">here</a> to
            go website codes in github</h4>
          <h4>Click <a target="_blank"
              href="https://github.com/lichaytiram/JohnBryceProjects/tree/master/CouponsProjectWithJdbc">here</a>
            to go server codes in github</h4>
        </div>
      </div>

    </div>

  </div>

  <div class="contactMeContainer">

    <a class="contactMe whatsapp" href="https://api.whatsapp.com/send?phone=972527466078"><i
        class="contactMe fab fa-2x fa-whatsapp"></i></a>
    <a class="contactMe phone" href="tel:0527466078"><i class="fas fa-2x fa-phone"></i></a>
    <a class="contactMe messenger" href="https://m.me/LichayTiram"><i class="fab fa-2x fa-facebook-messenger"></i></a>
    <a class="contactMe envelope" href="mailto:LichayTiram@gmail.com"><i class="fas fa-2x fa-envelope"></i></a>

  </div>

  <footer>
    <p> &copy; copyright - lichay tiram</p>
  </footer>

</div>