<header>

    <h1>תיק עבודות</h1>
    <hr>

    <img src="../assets/header/myself.jpg" alt="myself" class="left">
    <img src="../assets/header/codding.jpg" alt="codding" class="right">

    <div class="center">

        <h2>מעט על עצמי</h2>
        <h3>שמי ליחי טירם בן 28, מפתח אתרים ו - <span>full stack</span>.</h3>
        <h3>אני רוצה לספר לכם איך הכל התחיל - מאז ומתמיד עוד כשהייתי קטן התחברתי לתחום המחשבים זה התחיל ממשחקי מחשב,
            שהבנתי שמה שמעניין אותי באמת זה איך המשחק בנוי ולא המשחק בפועל.</h3>
        <h3>לאט לאט חקרתי את התחום והבנתי שזה מה שאני רוצה לעשות בחיים נרשמתי לקורס בג'ון ברייס והתחלתי ללמוד, סיימתי
            בהצטיינות עם ממוצע 92.</h3>
        <h3>לאחר שסיימתי את הקורס לא הייתי מסופק מהידע שצברתי בקורס ולמדתי מלא דברים חדשים לדוגמא:</h3>

        <div class="examples">
            <h4><span>ngrx</span> - state management</h4>
            <h4><span>gsap</span></h4>
            <h4>enhance - <span>css</span></h4>
        </div>

        <h3>אני בן אדם רציני עם שאיפות גדולות ולא מפחד מאתגרים.</h3>
    </div>

    <div class="coverBox"></div>
</header>

<div class="container">

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>שם הפרויקט: יו 5G.</p>
                <p>הפרויקט פירסומי שמציג את חברת הסלולרי הטובה ביותר.</p>
                <p>יו 5G הנה חברת סלולרית חדשה שמטרתה לכבוש את שוק הסלולרי ומסבירה על יעילותה של ה 5G החדש שהגיע לשוק
                    ואת שאיפותיה של החברה להתקדם לעולם מהיר וטוב יותר.</p>
                <p>עד היום כל חבורת הסלולר השיקו 4G שהוא יחסית איטי, לא מאובטח ובמחירים מופקעים ומטרת החברה לשבור את שוק
                    הסלולרי במחירים אטרקטיבים לכל כיס אם מדובר על מהירות גבוה ביותר מכלל החברות או במחיר הטוב ביותר, ב
                    יו 5G
                    זה החברה שלכם.</p>
                <P>האתר בנוי כדף נחיתה שמטרתו שהלקוחות ישאיר פרטים נוספים ונציג מכירה יצור קשר בהקדם.</P>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <p>פרויקט בא להראות יכולת גבוה של ניהול קבצי ה - <span>css</span> והתאמת ה - <span
                        class="capitalize">media query</span> לגדלי המסך השונים בצורה הטובה והמסודרת ביותר
                    בדגש על קריאות הקוד בנוסף בא להציג <span>css</span> ברמה גבוה מאוד עם מלא פונקציות חדשות שנלמדו
                    במהלך התקופה.</p>
                <p>כמובן שיש מלא שימוש ב - <span class="capitalize">scrollTrigger</span> שמאפשר אנימציות יפיפיות במהלך
                    גילגול העכבר ועוד..</p>
                <p>פרויקט זה עוד בבניה.</p>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לאתר - <a href="https://yo5g-6941d.web.app"
                        target="_blank">כאן</a>, כניסה
                    לקוד <a href="https://github.com/lichaytiram/AngularRepo/tree/master/Projects/Yo5g"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/yo5g.jpg" alt="yo5g">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>בא להציג רשימת מוצרים, אפשר להוסיף ולמחוק מהמוצרים ואפילו לפלטר בינם לפי שם.</p>
                <p>ניתן לסדר אותם לפי קטגוריות ( מחיר, שם , ותאריך )</p>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <p>פרויקט זה מביא להראות יכולת בניה על פי משימה עם דרישה ניתן להוריד <a
                        href="../assets/files/Delivery Products.docx" download class="downloadFile">כאן</a> את המשימה.
                </p>
                <p>הפילטר חיפוש כמובן נוצר עם debounce על מנת שלא אהיו בקשות שמעמיסות על האתר.</p>
                <p>האופציה לסדר את הרשימה כמובן נכתבה עם לולאת forEach ליעילות מקסימלית.</p>
                <p>ה - <span>api</span> שנתבקש מגיע מבולגן ומציג יכולת שימוש ב - <span>api</span> בצורה הטובה ביותר.</p>
                <p>כמובן הפרויקט מותאם לנייד וה - form רספונסיבי לכל טעות של המשתמש בצורה הנוחה ביותר.</p>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לאתר - <a
                        href="https://delivery-products-6296f.web.app" target="_blank">כאן</a>, כניסה
                    לקוד <a href="https://github.com/lichaytiram/AngularRepo/tree/master/Projects/DeliveryProducts"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/deliveryProducts.jpg" alt="deliveryProducts">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>משחק הזיכרון, הוראות המשחק -</p>
                <P></P>
                <P>המשתמש צריך ללחוץ על מעגל זוהר, בכל פעם שיש מעגל זוהר חדש תצטרך לזכור ולחץ על כל הרצף עד למעגל הזוהר
                    החדש.</P>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <p>בא להציג בניית אתר שהוא בעצם משחק הזיכרון .</p>
                <P>מורכב מאלמנטים דינמים שמאפשר להוסיף בקלוט רמות נוספות למשחק אם יש צורך.</P>
                <P>עיצוב שמתאים לכל פלטרופמה ומשתנה בהתאם למסך.</P>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לאתר - <a
                        href="https://memory-game-5b942.web.app" target="_blank">כאן</a>, כניסה
                    לקוד <a href="https://github.com/lichaytiram/AngularRepo/tree/master/Projects/MemoryGame"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/memoryGame.jpg" alt="memoryGame">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>שם הפרויקט: "דרך חיים"</p>
                <p>הפרויקט בא להציג ולהראות מגוון דרכים לשפר את איכות החיים שלנו.</p>
                <p>אם זה נוגע לדברים שאנחנו עושים או דברים שאנחנו אמורים לעשות על מנת לשפר את איכות החיים ומציג מגוון
                    דרכים שנוכל לעשות על מנת אורך חיים בריא וכיף יותר.</p>
                <p>הפרויקט בנוי כדף נחיתה שמטרתו לגרום למשתמש להשאיר פרטים בשביל להשיג דרך ליצירת קשר עם הלקוח לפרטים
                    נוספים.</p>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <P>הפרויקט בא לממש את הטכנולוגיות החדשות שנלמדו במהלך תקופה זו לדוגמה - <span>css</span> ברמה גבוה מאוד
                    עם עיצוב
                    קטלני שנלמד עד פרק זמן זה, בנוסף <span>gsap</span> עם <span class="capitalize">scrollTrigger</span>
                    וכמובן שיש עוד מלא דברים נוספים אבל אלה העיקריים.</P>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לאתר - <a href="https://waylife-af767.web.app"
                        target="_blank">כאן</a>, כניסה
                    לקוד <a href="https://github.com/lichaytiram/AngularRepo/tree/master/Projects/WayLife"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/waylife.jpg" alt="waylife">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>שם הפרויקט: תזונת חלבונים.</p>
                <p>הפרויקט בא להדגיש עד כמה חלבונים חשובים לתזונה שלנו, אופן שאנחנו צריכים לצרוך אותם והתאמת חלבונים לכל
                    אדם ואדם.</p>
                <p>לכל אדם יש כמות חלבונים שהגוף צורך בכמות שונה מזו של האחר והפרויקט בא לחשב לנו את כמות החלבונים על פי
                    מוצרי מזון שאנחנו צורכים.</p>
                <p>ניתן להרשם כלקוח ושם אהיה ניתן לשמור את המידע ההיסטורי של מוצרים שאנחנו אוכל ביום יום בנוסף הוא מחשב
                    לנו את כמות החלבון שצרכנו באותו ארוחה או אפילו לאותו יום, החישוב נעשה על פי כמה קרטריונים שבזמן
                    ההרשמה לאתר אנחנו כבר ממלאים פרטים אלה וזה עוזר לנו לעקוב לאחר כמות הנדרשת בדגש על אלו שמתאמנים
                    שבנינו.</p>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <p>הפרויקט נבנה בעזרת טכנולוגית <span class="capitalize">redux - state management</span> ושם כל הפרויקט
                    מתנהל דרך ה store שמתקשרות עם כל "הקומפוננטות" וכו.</p>
                <p>נעשה שימוש ב <span class="capitalize">lazy</span> loading באנגולר, התאמת הפרויקט למובייל, <span
                        class="capitalize">bootstrap 4</span> דאטה בייס - <span class="capitalize">firebase</span> ועוד.
                </p>
                <p>כל הטכנולוגיות שציינתי לעיל נלמדו לאחר הקורס ומציינות את התקדמותי, חשוב לי לציין שה -
                    <span>css</span> בפרויקט זה יחסית ברמה נמוכה (גם שהיה שיפור מבחינת הקורס) והדגש היה יותר על היעילות
                    מאשר העיצוב (שנלמד ברמה גבוה מאוד בפרויקטים חדשים יותר).
                </p>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לאתר - <a href="https://protein-757b1.web.app"
                        target="_blank">כאן</a>, כניסה
                    לקוד <a href="https://github.com/lichaytiram/AngularRepo/tree/master/Projects/ProteinNutrition"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/protein.jpg" alt="protein">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>שם הפרויקט: קופונים והנחות, גרסת - <span class="capitalize bold">hibernate </span>(<span
                        class="bold">jpa</span>)</p>
                <p>פרויקט נועד שמשתמשים שונים יוכלו לקנות קופונים במחירים מאוד זולים, פרויקט <span
                        class="capitalize">full stack</span>
                    שמורכב מסרבר,
                    אתר אינטרנט ודטה בייס שבנה ב - <span>rest</span>ful <span>api</span>.</p>
                <p>איך זה עובד - ישנם מלא חברות בשוק שרוצות לעשות קופונים להנחות בחברה שלהם אז הם בוחרים מספר משתמשים
                    שעובדים בחברה שיקבלו הרשאה להגדרת קופונים בחברה שלהם.</p>
                <p>לכל חברה אין בגבלת לכמות משתמשי החברה שיוכלו ליצור קופונים חדשים ומי שמביא להם גישה אלה מנהלי האתר
                    שבעצם מגדירים משתמשים חדשים לחברה קיימת.</p>
                <p>לכל משתמש חדש של חברה יכול ליצור קופונים חדשים לפי בחירתו רק לחברה שבה הוא עובד.</p>
                <p>באתר כל לקוח יכול ליצור משתמש כלקוח וליקנות קופונים משלל הקופונים שהאתר מציע ללא הגבלה קניה (עד גמר
                    המלאי של אותו קופון), ויכול לראות קופונים שנרכשו וכו.</p>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <p>הפרויקט שלם <span class="capitalize">full stack</span> שמורכב בשפת <span
                        class="capitalize">java</span> מצד הסרבר שכלל טכנולוגית
                    <span class="capitalize">spring</span> ו - <span class="capitalize">hibernate</span>
                    (<span>jpa</span>), מצד לקוח
                    <span class="capitalize">angular</span> ובנוסף מסד נתונים - <span
                        class="capitalize">my</span><span>sql</span>.
                </p>
                <p>הפרויקט בא להציג שילוב בין הטכנולוגיות השונות והקמת פרויקט שלם מ - 0 עד לרמה של פרויקט גדול, בנוסף
                    חשיבה רחבה והסתכלות מלמעלה על התמונה הכללית עם ניהול סדר נכון של כל חלקי הפרויקט.</p>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לקוד האתר - <a
                        href="https://github.com/lichaytiram/JohnBryceProjectsWeb/tree/master/CouponsProjectWithJpa"
                        target="_blank">כאן</a>, כניסה
                    לקוד סרבר <a
                        href="https://github.com/lichaytiram/JohnBryceProjects/tree/master/CouponsProjectWithJpa"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/coupon.jpg" alt="coupon">
            <p>תצוגת קדימה</p>
        </div>

    </section>

    <section>

        <div class="coverUp"></div>
        <div class="coverDown"></div>

        <div class="textContainer">

            <div class="information">
                <h1>תאור הפרויקט</h1>
                <p>שם הפרויקט: קופונים והנחות, גרסת - <span class="bold">jdbc </span></p>
                <p>פרויקט נועד שמשתמשים שונים יוכלו לקנות קופונים במחירים מאוד זולים, פרויקט <span
                        class="capitalize">full stack</span>
                    שמורכב מסרבר,
                    אתר אינטרנט ודטה בייס שבנה ב - <span>rest</span>ful <span>api</span>.</p>
                <p>איך זה עובד - ישנם מלא חברות בשוק שרוצות לעשות קופונים להנחות בחברה שלהם אז הם בוחרים מספר משתמשים
                    שעובדים בחברה שיקבלו הרשאה להגדרת קופונים בחברה שלהם.</p>
                <p>לכל חברה אין בגבלת לכמות משתמשי החברה שיוכלו ליצור קופונים חדשים ומי שמביא להם גישה אלה מנהלי האתר
                    שבעצם מגדירים משתמשים חדשים לחברה קיימת.</p>
                <p>לכל משתמש חדש של חברה יכול ליצור קופונים חדשים לפי בחירתו רק לחברה שבה הוא עובד.</p>
                <p>באתר כל לקוח יכול ליצור משתמש כלקוח וליקנות קופונים משלל הקופונים שהאתר מציע ללא הגבלה קניה (עד גמר
                    המלאי של אותו קופון), ויכול לראות קופונים שנרכשו וכו.</p>
            </div>
            <div class="purpose">
                <h2>מטרת הפרויקט</h2>
                <p>הפרויקט שלם <span class="capitalize">full stack</span> שמורכב בשפת <span
                        class="capitalize">java</span> מצד הסרבר שכלל טכנולוגית
                    <span class="capitalize">spring</span> ו - <span>jdbc</span>, מצד לקוח
                    <span class="capitalize">angular</span> ובנוסף מסד נתונים - <span
                        class="capitalize">my</span><span>sql</span>.
                </p>
                <p>הפרויקט בא להציג שילוב בין הטכנולוגיות השונות והקמת פרויקט שלם מ - 0 עד לרמה של פרויקט גדול, בנוסף
                    חשיבה רחבה והסתכלות מלמעלה על התמונה הכללית עם ניהול סדר נכון של כל חלקי הפרויקט.</p>
            </div>
            <div class="links">
                <h4><i class="fas fa-link"></i> קישורים לפרויקט: כניסה לקוד האתר - <a
                        href="https://github.com/lichaytiram/JohnBryceProjectsWeb/tree/master/CouponsProjectWithJdbc"
                        target="_blank">כאן</a>, כניסה
                    לקוד סרבר <a
                        href="https://github.com/lichaytiram/JohnBryceProjects/tree/master/CouponsProjectWithJdbc"
                        target="_blank">כאן</a></h4>
            </div>

        </div>

        <div class="imgContainer">
            <img src="../assets/projects/coupon.jpg" alt="coupon">
            <p>תצוגת קדימה</p>
        </div>

    </section>

</div>

<footer>

    <p>צור קשר</p>

    <div class="contactMeContainer">
        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=972527466078"><i
                class="fab fa-2x fa-whatsapp"></i></a>
        <a class="phone" href="tel:0527466078"><i class="fas fa-2x fa-phone"></i></a>
        <a class="messenger" href="https://m.me/LichayTiram"><i class="fab fa-2x fa-facebook-messenger"></i></a>
        <a class="envelope" href="mailto:LichayTiram@gmail.com"><i class="fas fa-2x fa-envelope"></i></a>
    </div>

</footer>