<div>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <script src="https://use.fontawesome.com/c5b6b20517.js"></script>
  </div>

<div style="text-align: center">

  <h1 style="color: cornflowerblue">{{title}} web</h1>

</div>
<nav style="text-align: center">
  <button routerLink="/home" routerLinkActive="active">Home</button> |
  <button routerLink="/favorite" routerLinkActive="active">Favorite</button>
</nav>

<br>
<router-outlet></router-outlet>