<div class="container" [formGroup]="userProfile">
  <h2>user profile</h2>

  <div class="contactProfileWrap">
    <div class="userWrap">
      <p>name</p>
      <input type="text" formControlName="name"
        [class.error]="userProfile.get('name')?.touched && userProfile.get('name')?.errors" />
      <small *ngIf="
      userProfile.get('name')?.hasError('required') &&
      userProfile.get('name')?.touched">name is required!</small>
    </div>
    <div class="organizationWrap">
      <p>organization</p>
      <input type="text" formControlName="organization" />
    </div>
  </div>
</div>