.disconnected {
    color: crimson;
    min-height: 620px;
}

.disconnected:hover {
    animation: large 3s forwards;
}

.connected {
    color: black;
}

button {
    border: 0;
    padding: 0;
    outline: 0;
    background-color: inherit;
    color: white;
}

.card {
    height: 80px;
    justify-content: center;
}

.eggCard {
    height: 176px;
    display: block;
}

.box {
    text-transform: capitalize;
    border: 1px solid rgb(194, 193, 193);
    box-shadow: 0 0 2px 2px rgb(185, 235, 250);
    position: relative;
    cursor: auto;
    z-index: 1;
}

.box::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(to right, rgb(234, 243, 208), rgb(210, 238, 219));
    transition-duration: 1.5s;
}

.box:hover::before {
    width: 100%;
}

.smallBox {
    text-transform: capitalize;
    border: 1px solid rgb(238, 193, 193);
    box-shadow: 0 0 2px 2px rgb(243, 203, 195);
    z-index: 1;
}

select {
    border-radius: 17px;
    text-align-last: center;
    outline: 0;
    margin: 5px;
    padding: 1px 15px;
    border-top: 1px dotted rgb(146, 224, 248);
    border-left: 1px solid rgb(161, 227, 247);
    border-bottom: 1px solid rgb(144, 169, 252);
    border-right: 1px solid rgb(96, 161, 236);
}

span {
    text-transform: capitalize;
}

.eggSize {
    display: inline-block;
    text-align: start;
    width: 70px;
}

.inputEdit {
    outline: 0;
    margin: 5px;
    background: linear-gradient( to right, rgb(252, 217, 249) 20%, rgb(158, 226, 247));
    box-shadow: 0 0 1px 1px rgb(174, 175, 175);
}

.size {
    width: 450px;
    margin: auto;
    transform: translateY(450px);
    animation: top 1.5s forwards;
}

.header {
    background: linear-gradient(to right, black, white);
    text-shadow: 2px 2px rgb(88, 88, 87);
    height: 130px;
}

.show {
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 60%;
    z-index: 3;
    transform: translate(-50%, -50%);
    color: rgb(39, 5, 61);
    background: linear-gradient( rgb(153, 183, 240), rgb(97, 214, 243));
}

.update {
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 60%;
    z-index: 3;
    transform: translate(-50%, -50%);
    color: rgb(58, 76, 240);
    background: linear-gradient( rgb(250, 176, 213), rgb(240, 75, 124));
}

.deleteOneProtein {
    z-index: 2;
    outline: 1px;
    padding: 0;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(198, 216, 221);
    border-radius: 30%;
    height: 25px;
    width: 25px;
}

.deleteOneProteinEgg {
    right: 1px;
    top: 1px;
    height: 24px;
    width: 24px;
}

.showButton {
    background-color: inherit;
    color: rgb(77, 77, 77);
    outline: 0;
    border: 0;
    padding: 0;
}

.updateButton {
    background-color: inherit;
    color: rgb(7, 3, 245);
    outline: 0;
    border: 0;
    padding: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.showButton:hover {
    color: black;
}

.updateButton:hover {
    color: rgb(111, 5, 182);
}

.parallax1 {
    background: linear-gradient( rgb(179, 145, 218) 40%, rgb(169, 235, 255), rgb(43, 39, 255));
    height: 650px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url("/assets/photos/biceps_black_and_white_body.jpg");
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes large {
    to {
        font-size: large;
    }
}

@keyframes top {
    to {
        transform: translateY(0)
    }
}

@media(max-width :420px) {
    .parallax1 {
        height: auto;
    }
    .size {
        width: 280px;
    }
    .disconnected {
        min-height: 550px;
    }
}

@media(max-height :420px) {
    .parallax1 {
        height: auto;
    }
    .disconnected {
        min-height: 210px;
    }
}