<div class="text-center">

    <div *ngIf="!(user$ |async)" class="disconnected">

        <p>You must login to see your favorite list.</p>
        <p>You can click <button (click)="loginPage()">here</button> to move login page</p>

    </div>

    <div *ngIf="user$ | async as user" class="connected text-center">


        <div class="header">

            <h2>Welcome Back - {{user.username}}</h2>
            <h3>Your favorite list on the front </h3>
            <h5>You can edit to see another mix</h5>

        </div>

        <div *ngFor="let protein of proteins$ | async ;index as i" class="color">
            <div class="parallax2 m-0">

                <h6>index | {{i+1}}</h6>
                <div class="row m-1 justify-content-center">
                    <div [class.d-none]="proteinKeyValue.key=='id'" *ngFor="let proteinKeyValue of protein | keyvalue"
                        class="col-12 col-sm-6 col-xl-4 p-2">

                        <div class="card">

                            <h6 *ngIf="proteinKeyValue.key!=='egg'" class="m-0">{{proteinKeyValue.key}} |
                                {{proteinKeyValue.value}}</h6>

                            <div *ngIf="proteinKeyValue.key==='egg'">
                                <h6 class="m-0">{{proteinKeyValue.key}}</h6>
                                <h6 class="m-0">amount | {{proteinKeyValue.value.amount}} ,
                                    sizeEgg | {{proteinKeyValue.value.sizeEgg}}
                                </h6>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="card size">

                    <div class="row justify-content-center">

                        <div *ngIf="editToggle != protein.id" class="col-12 p-0">

                            <input type="button" value="&#xf06e; Show" (click)="show(user,protein)"
                                class="btn btn-outline-primary rounded-pill far m-1 col-8 col-sm-6">

                            <div class="col-12 p-0">
                                <input type="button" value="&#xf410; Delete" (click)="delete(user.id,protein.id)"
                                    class="btn btn-outline-danger rounded-pill far m-1 col-4 col-sm-3">
                                <input type="button" value="&#xf4ff; Edit" (click)="edit(protein.id)"
                                    class="btn btn-outline-secondary rounded-pill fas m-1 col-4 col-sm-3">
                            </div>

                        </div>

                        <div *ngIf="editToggle == protein.id" class="col-12 p-0">

                            <input type="button" value="&#xf4ff; Save" (click)="save(i+1)"
                                class="btn btn-outline-secondary rounded-pill fas m-1 col-6">

                        </div>

                    </div>

                </div>

            </div>

            <div class="parallax3"></div>

        </div>

        <div id="show" class="invisible">

            <div class="card show text-center">

                <div class="card-body">
                    <p>{{showMessage}}</p>
                    <p *ngIf="user">{{showMessageLogin}}</p>
                    <input type="button" value="&#xf164;" (click)="cancelShow()" class="fas showButton">
                </div>

            </div>

        </div>

    </div>

</div>