<div class="text-center">

    <div *ngIf="!(user$ |async)" class="disconnected">

        <p>You must login to see your favorite list.</p>
        <p>You can click <button (click)="loginPage()">here</button> to move login page</p>

    </div>

    <div *ngIf="user$ | async as user" class="connected text-center">

        <div class="header">

            <h2>Welcome Back - {{user.username}}</h2>
            <h3>Your favorite lists</h3>

        </div>

        <div *ngFor="let protein of proteins$ | async ; index as i;">

            <div class="parallax1 m-0">

                <div class="row m-1 justify-content-center">
                    <div [class.d-none]="proteinKeyValue.key === 'id'"
                        *ngFor="let proteinKeyValue of protein | keyvalue" class="col-12 col-sm-6 col-xl-4 p-2">

                        <div [class.eggCard]="proteinKeyValue.key === 'egg' && editToggle === i && !addToggle"
                            class="card">

                            <div [class.d-none]="editToggle !== i || addToggle">
                                <input type="button" (click)="deleteOneProtein(user.id,protein.id,proteinKeyValue.key)"
                                    value="&#xf2ed;" class="fas text-danger deleteOneProtein">
                            </div>

                            <div *ngIf="proteinKeyValue.key !== 'egg'" class="m-0">

                                <div class="row justify-content-center m-0">

                                    <label class="col-5 col-sm-4 box m-1">{{proteinKeyValue.key}}</label>
                                    <label class="col-1"></label>
                                    <label class="col-5 col-sm-4 box m-1"> {{proteinKeyValue.value}}</label>

                                    <div [class.d-none]="editToggle !== i || addToggle" class="col-12 p-0">

                                        <span class="col-2">{{proteinKeyValue.key}}</span>

                                        <input type="number" title="Enter a new value" [id]="proteinKeyValue.key+i"
                                            (keyup)="proteinKeyValue.value" [value]="proteinKeyValue.value"
                                            class="text-center rounded-pill border border-white inputEdit col-4">

                                        <div class="d-inline col-2">

                                            <label
                                                *ngIf="proteinKeyValue.key === 'tuna'|| proteinKeyValue.key === 'meat' || proteinKeyValue.key === 'cheese' || proteinKeyValue.key === 'cottage' || proteinKeyValue.key === 'quinoa'">grams</label>
                                            <label *ngIf="proteinKeyValue.key === 'almonds'">handful</label>
                                            <label *ngIf="proteinKeyValue.key === 'bread'">slices</label>
                                            <label
                                                *ngIf="proteinKeyValue.key === 'powder' || proteinKeyValue.key === 'gainer'">portions</label>

                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div *ngIf="proteinKeyValue.key === 'egg'">

                                <div class="row justify-content-center m-0">

                                    <label class="col smallBox p-0 m-0">{{proteinKeyValue.key}}</label>

                                </div>

                                <div class="row justify-content-center m-0">

                                    <small class="col-5 col-sm-4 box">amount</small>
                                    <label class="col-1"></label>
                                    <small class="col-5 col-sm-4 box">{{proteinKeyValue.value.amount}}</small>

                                </div>

                                <div class="row justify-content-center m-0">

                                    <small class="col-5 col-sm-4 box">size</small>
                                    <small class="col-1"></small>
                                    <small class="col-5 col-sm-4 box">{{proteinKeyValue.value.sizeEgg}}</small>

                                </div>

                                <div [class.d-none]="editToggle !== i || addToggle">

                                    <div class="row justify-content-center m-3">

                                        <small *ngIf="proteinKeyValue.value.sizeEgg === 'empty'"
                                            class="text-primary">*Must enter an amount and size</small>

                                        <div class="col-12">

                                            <small class="text-capitalize eggSize">amount</small>

                                            <input type="number" title="Enter a new value" [id]="'amount'+i"
                                                (keyup)="proteinKeyValue.value.amount"
                                                [value]="proteinKeyValue.value.amount"
                                                class="text-center col-4 rounded-pill border border-white inputEdit">
                                        </div>

                                        <div class="col-12">

                                            <small class="text-capitalize eggSize">size</small>

                                            <select [id]="'sizeEgg'+i" title="Select a new value from list"
                                                [value]="proteinKeyValue.value.sizeEgg" class="text-capitalize col-4">
                                                <option value="S">small</option>
                                                <option value="M">medium</option>
                                                <option value="L">large</option>
                                            </select>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div [class.animationBlock]="animationBlockToggle" class="card size animation">

                    <div class="row justify-content-center">

                        <div *ngIf="editToggle !== i" class="col-12 p-0">

                            <input type="button" value="&#xf06e; Show" (click)="show(user,protein)"
                                class="btn btn-outline-primary rounded-pill far m-1 col-8 col-sm-6">

                            <div class="col-12 p-0">
                                <input type="button" value="&#xf410; Delete" (click)="deleteProteinSwitch()"
                                    class="btn btn-outline-danger rounded-pill far m-1 col-4 col-sm-3">
                                <input type="button" value="&#xf044; Edit" (click)="editToggleSwitch(i)"
                                    class="btn btn-outline-secondary rounded-pill fas m-1 col-4 col-sm-3">
                            </div>

                        </div>

                        <div *ngIf="editToggle === i && !addToggle" class="col-12 p-0">

                            <input type="button" value="&#xf0c7; Update" (click)="saveNewUpdate(user.id,protein.id)"
                                class="btn btn-outline-primary rounded-pill fas m-1 col-8 col-sm-6">
                            <div class="col-12 p-0">
                                <input type="button" value="&#xf410; Cancel" (click)="cancelEdit()"
                                    class="btn btn-outline-danger rounded-pill far m-1 col-4 col-sm-3">
                                <input type="button" value="&#xf0fe; Add" (click)="addToggleSwitch(protein)"
                                    class="btn btn-outline-success rounded-pill fas m-1 col-4 col-sm-3">
                            </div>

                        </div>

                        <div *ngIf="editToggle === i && addToggle" class="col-12 p-0">

                            <select [(ngModel)]="add" class="text-capitalize text-center col-8 col-sm-6">
                                <option *ngIf="addList?.length === 0">Your list full</option>
                                <option *ngFor="let proteinList of addList">{{proteinList}}</option>
                            </select>

                            <div class="col-12 p-0">
                                <input type="button" value="&#xf410; Cancel" (click)="cancelEdit()"
                                    class="btn btn-outline-danger rounded-pill far m-1 col-4 col-sm-3">
                                <input type="button" value="&#xf0fe; Add" [disabled]="addList?.length === 0"
                                    (click)="addProtein(user.id,protein)"
                                    class="btn btn-outline-success rounded-pill fas m-1 col-4 col-sm-3">
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="parallax2"></div>

            <div *ngIf="deleteToggle">

                <div class="card show">

                    <div class="card-body">
                        <h4>You try to delete a protein!</h4>
                        <h5>Please confirm!</h5>
                        <input type="button" value="&#xf2ed; Delete"
                            (click)="deleteProteinConfirmed(user.id,protein.id)" class="fas p-1 btn text-danger">
                        <input type="button" value="&#xf0e2; Cancel" (click)="deleteProteinSwitch()"
                            class="fas p-1 btn text-primary">
                    </div>

                </div>

            </div>

        </div>

        <div class="text-center">

            <div id="show" class="invisible">

                <div class="card show">

                    <div class="card-body">
                        <p>{{showMessage}}</p>
                        <p *ngIf="user">{{showMessageLogin}}</p>
                        <input type="button" value="&#xf164;" (click)="cancelShow()" class="fas showButton">
                    </div>

                </div>

            </div>

            <div *ngIf="updateToggle">

                <div class="card update">

                    <div class="card-body">
                        <h4>Must enter a positive numbers</h4>
                        <input type="button" value="&#xf164;" (click)="updateToggleSwitch()" class="fas updateButton">
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>