/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    perspective: 1px;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: inherit;
}

body {
    margin: 0;
    background-color: rgb(155, 215, 233);
}