.container {
  height: var(--main-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > .contactWrap {
  width: 800px;
  height: fit-content;
  min-height: 500px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  --border-color: rgb(185, 183, 183);
}
