:host {
    --basic-background-color: rgb(120, 164, 231);
    --basic-color: rgb(212, 215, 218);
    --header-height: 75px;
    --footer-height: 30px;
    --main-min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

header {
    height: var(--header-height);
    background-color: var(--basic-background-color);
    color: black;
    display: flex;
    align-items: center;
}

header>h1 {
    font-size: xx-large;
    margin-left: 40px;
    text-transform: capitalize;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    min-height: var(--main-min-height);
}

footer {
    height: var(--footer-height);
    background-color: rgb(47, 49, 49);
    color: var(--basic-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}

footer>small>i {
    display: inline-block;
    margin-right: 5px;
    animation: copyright 5s linear infinite;
}

footer>small>span {
    display: inline-block;
    animation: creator 4s linear infinite alternate;
}

@keyframes copyright {
    20% {
        transform: scale(1.25);
    }
    60% {
        transform: scale(.9);
    }
}

@keyframes creator {
    to {
        transform: translateX(5px);
        color: rgba(230, 223, 210, 0.692);
    }
}

@media (min-width:900px) {}

/* mobile open */

@media (max-width:899px) {
    .container {
        --header-height: fit-content;
    }
}