<div fxLayout="flex" fxLayout.lt-md="column" fxLayoutGap="10px" class="container">

    <div fxFlex>

        <mat-card *ngFor="let item of shopList$ | async">

            <label fxFlex fxFlexAlign="center">
                {{item}}
            </label>

            <button mat-stroked-button (click)="addToCart(item)">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>

        </mat-card>

    </div>

    <div fxFlex.lt-md="0 0 100vw" fxFlex.gt-md="0 0 700px" class="image">

        <img src="https://images.all-free-download.com/images/graphicthumb/fruits_sweet_fruit_213988.jpg" alt="image">
    </div>

</div>