.container {
    width: 80%;
    margin: 10% auto;
}

.container mat-card:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

.container mat-card:nth-child(odd):hover {
    background-color: rgb(243, 243, 243);
}

.container mat-card>label::first-letter {
    text-transform: uppercase;
}

.container mat-card>button {
    color: green;
}

.container>.image>img {
    height: 100%;
    width: 100%;
    opacity: .6;
    border-radius: 10px;
}