<nav>

  <mat-toolbar fxLayout="row" fxLayoutAlign.xs="end center">

    <div fxHide.xs="true" fxFlex fxLayoutGap="10px">

      <button routerLink="home" mat-raised-button color="primary">home</button>
      <button routerLink="product/list" mat-raised-button color="primary">list</button>
      <button routerLink="product/cart" mat-raised-button color="primary">cart</button>
      <button routerLink="product/purchase" mat-raised-button color="primary">purchase</button>
      <button routerLink="info" mat-raised-button color="primary">info</button>

    </div>

    <button [matMenuTriggerFor]="navMenu" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #navMenu="matMenu">

      <button routerLink="home" mat-menu-item="primary">home</button>
      <button routerLink="product/list" mat-menu-item="primary">list</button>
      <button routerLink="product/cart" mat-menu-item="primary">cart</button>
      <button routerLink="product/purchase" mat-menu-item="primary">purchase</button>
      <button routerLink="info" mat-menu-item="primary">info</button>

    </mat-menu>

  </mat-toolbar>

</nav>