<nav>

    <ul>
        <li><button routerLink="home" mat-raised-button color="primary">home</button></li>
        <li><button routerLink="product/list"  mat-raised-button color="primary">list</button></li>
        <li><button routerLink="product/cart" mat-raised-button color="primary">cart</button></li>
        <li><button routerLink="product/purchase" mat-raised-button color="primary">purchase</button></li>
        <li><button routerLink="info" mat-raised-button color="primary">info</button></li>
    </ul>

    <!-- <mat-menu #menu="matMenu">
        <button mat-raised-button color="primary" mat-menu-item>
          <mat-icon>dialpad</mat-icon>
        </button>
        <button mat-menu-item >
          <mat-icon>voicemail</mat-icon>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
        </button>
      </mat-menu> -->

</nav>