/* You can add global styles to this file, and also import other style files */

body {
    position: relative;
    background-color: #1D1C1C;
    padding-top: 230px;
    overflow-x: hidden;
    min-height: 100vh;
    padding-bottom: 40px;
}

@media (max-width: 576px) {
    body {
        padding-top: 185px;
    }
}

@media (max-height: 420px) {
    body {
        padding-top: 115px;
    }
}

@media (max-height: 350px) {
    body {
        padding-top: 150px;
    }
}