<div class="container">

  <div class="textContainer">

    <p>draft draft draft</p>
    <p>draft draft draft</p>
    <p>draft draft draft</p>
    <p>draft draft draft</p>

  </div>

  <div class="imgContainer">

    <h3>we can offer you better life</h3>

    <div class="flex">
      <img src="../assets/photos/walk.jpg" alt="walk" class="walk">
      <img src="../assets/photos/yoga.jpg" alt="yoga" class="yoga">
    </div>

    <h3>and more</h3>

    <div class="flex">
      <img src="../assets/photos/seaAtNight.jpg" alt="seaAtNight" class="seaAtNight">
      <img src="../assets/photos/elephant.jpg" alt="elephant" class="elephant">
    </div>

    <h3>and a lot more then this</h3>

  </div>

  <div class="parallaxContainer">

    <img src="../assets/photos/surf.jpg" alt="surf" class="background">

    <div class="parallax-bg box1" data-speed="0.09"></div>
    <div class="parallax-bg box2" data-speed="0.33"></div>

  </div>

  <div class="formContainer">

    <div class="coverShape-left"></div>
    <div class="coverShape-right"></div>
    <div class="picture"></div>

    <div class="formOuter">

      <h3>last step for change your life</h3>
      <h4>fulfil the lines and we will contact with you</h4>

      <form (change)="inputValidation()" (ngSubmit)="submit()">

        <div class="grid grid-1">
          <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
          <label>first name</label>
        </div>

        <div class="grid grid-2">
          <input type="text" name="lastName" [(ngModel)]="user.lastName" required>
          <label>last name</label>
        </div>

        <div class="grid grid-3">
          <input type="text" name="email" [(ngModel)]="user.email" required>
          <label>email</label>
        </div>

        <input type="submit" value="let's continue" [disabled]="inputTouch && !inputValid" class="grid-4">

      </form>

    </div>

    <div *ngIf="emailSentSuccessfully" class="messageContainer">
      <div class="messageSent">
        <p>It was sent successfully</p>
        <p>we'll be in touch with you</p>
        <button (click)="toggleMessage()">close</button>
      </div>
    </div>

  </div>

</div>