<div>

  <div class="textContainer">

    <div class="coverShape"></div>

    <h1>
      <span class="upper">d</span>
      <span>o</span>
      <span>&nbsp;</span>
      <span class="upper">y</span>
      <span>o</span>
      <span>u</span>
      <span>&nbsp;</span>
      <span class="upper">w</span>
      <span>a</span>
      <span>n</span>
      <span>t</span>
      <span>&nbsp;</span>
      <span class="upper">t</span>
      <span>o</span>
      <span>&nbsp;</span>
      <span class="upper">i</span>
      <span>m</span>
      <span>p</span>
      <span>r</span>
      <span>o</span>
      <span>v</span>
      <span>e</span>
      <span>&nbsp;</span>
      <span class="upper">y</span>
      <span>o</span>
      <span>u</span>
      <span>r</span>
      <span>&nbsp;</span>
      <span class="upper">l</span>
      <span>i</span>
      <span>f</span>
      <span>e</span>
      <span>?</span>

    </h1>
    <h2>we can offer you a lot of variety!</h2>
    <p>we have a lot of experience just keep going</p>

    <div class="text">

      <p>have a lot of ways to improve your life like:</p>
      <ul>
        <li>find an energizing midday activity that’s good for you.</li>
        <li>re-do your bedroom for a better night’s sleep.</li>
        <li>develop a consistent bedtime routine.</li>
        <li>do a bunch of little productive tasks.</li>
        <li>revisit your goals.</li>
      </ul>

      <p>but if all things above isn't help you</p>
      <strong>keep scrcolling to our sulution</strong>

    </div>

    <div class="inner">

      <img src="../assets/photos/textContainer/sea.jpg" alt="sea">

    </div>

  </div>

  <div class="imgContainer">

    <div class="coverShape"></div>
    <h3>we can offer you better life</h3>

    <div class="flex">
      <img src="../assets/photos/imgContainer/walk.jpg" alt="walk" class="walk">
      <img src="../assets/photos/imgContainer/yoga.jpg" alt="yoga" class="yoga">
    </div>

    <h3>look interesting keep scrolling</h3>

    <div class="flex">
      <img src="../assets/photos/imgContainer/seaAtNight.jpg" alt="seaAtNight" class="seaAtNight">
      <img src="../assets/photos/imgContainer/elephant.jpg" alt="elephant" class="elephant">
    </div>

    <h3>and a lot more !!!</h3>

  </div>

  <div class="informationContainer">

    <div class="cover">
      <img src="../assets/photos/informationContainer/cover/surf.png" alt="surf" class="layer0">
      <img src="../assets/photos/informationContainer/cover/layer 1.png" alt="surf" class="layer1">
      <img src="../assets/photos/informationContainer/cover/layer 2.png" alt="surf" class="layer2">
      <img src="../assets/photos/informationContainer/cover/layer 3.png" alt="surf" class="layer3">
      <img src="../assets/photos/informationContainer/cover/layer 4.png" alt="surf" class="layer4">
      <img src="../assets/photos/informationContainer/cover/layer 5.png" alt="surf" class="layer5">
    </div>

    <div class="informationInnerContainer">

      <div class="text">
        <h4>we believe that everyone can change his life</h4>
        <h4>Just need a little push</h4>
      </div>

      <div class="containerCard">

        <div class="text">
          <h5>everyone has a life expectancy</h5>
          <p>but as we know people want to live as much as possible, so we are here we want to help you make your life
            longer and better.</p>
          <p> there is a wide variety of ways to do it just give yourself a little push and improve
            your life.</p>
        </div>

        <ul>
          <li><img src="../assets/photos/informationContainer/containerCard/busTrip.jpg" alt="busTrip"></li>
          <li><img src="../assets/photos/informationContainer/containerCard/pillows.jpg" alt="pillows"></li>
          <li><img src="../assets/photos/informationContainer/containerCard/ship.jpg" alt="ship"></li>
          <li><img src="../assets/photos/informationContainer/containerCard/skateboard.jpg" alt="skateboard"></li>
          <li><img src="../assets/photos/informationContainer/containerCard/specialYoga.jpg" alt="specialYoga"></li>
          <li><img src="../assets/photos/informationContainer/containerCard/sunbathing.jpg" alt="sunbathing"></li>
        </ul>

      </div>

    </div>

  </div>

  <div class="formContainer">

    <div class="coverShape-left"></div>
    <div class="coverShape-right"></div>
    <div class="picture"></div>

    <div class="formOuter">

      <h3>last step for change your life</h3>
      <h4>fulfil the lines and we will contact with you</h4>

      <form (change)="inputValidation()" (ngSubmit)="submit()">

        <div class="grid grid-1">
          <input type="text" name="firstName" [(ngModel)]="user.firstName" required>
          <label>first name</label>
        </div>

        <div class="grid grid-2">
          <input type="text" name="lastName" [(ngModel)]="user.lastName" required>
          <label>last name</label>
        </div>

        <div class="grid grid-3">
          <input type="text" name="email" [(ngModel)]="user.email" required>
          <label>email</label>
        </div>

        <input type="submit" value="let's continue" [disabled]="inputTouch && !inputValid" class="grid-4">

      </form>

    </div>

    <div *ngIf="emailSentSuccessfully" class="messageContainer">
      <div class="messageSent">
        <p>It was sent successfully</p>
        <p>we'll be in touch with you</p>
        <button (click)="toggleMessage()">close</button>
      </div>
    </div>

  </div>

</div>