<div>

  <!-- <div class="container">

    <div class="container1">
      <h1>Are you waiting for good life?</h1>

      <img src="../assets/photos/parallax1.jpg" alt="beach" class="imgContainer outImg">

      <div class="right">
        <img src="../assets/photos/parallax3.jpg" alt="skateboard" class="imgContainer">
        <img src="../assets/photos/parallax6.jpg" alt="skateboard" class="smallImg">
        <div>
          <h2>If your answer is yes</h2>
          <h3>Do something about it!</h3>
        </div>
      </div>

    </div>

  </div> -->

  <div class="container2">

    <div class="text">

      <h3>we can offer you better life</h3>

      <div class="space">

        <div class="flex">
          <img src="../assets/photos/walk.jpg" alt="walk" class="walk">
          <img src="../assets/photos/yoga.jpg" alt="yoga" class="yoga">
        </div>

        <div class="flex">
          <img src="../assets/photos/seaAtNight.jpg" alt="seaAtNight" class="seaAtNight">
          <img src="../assets/photos/treesIsland.jpg" alt="treesIsland" class="treesIsland">
        </div>

      </div>

      <h3>and more</h3>

    </div>

    <div class="parallaxContainer">

      <img src="../assets/photos/surf.jpg" alt="surf" class="background">

      <div class="parallax-bg box" data-speed="0.09"></div>
      <!-- <div class="parallax-bg box" data-speed="0.009"></div> -->
      <!-- <h4 class="parallax-bg" data-speed="0.009">hi1</h4> -->
      <!-- <h4 class="parallax-bg" data-speed="0.02">hi2</h4> -->

    </div>

    <div class="form">

      <div class="triangle-left"></div>
      <div class="triangle-middle"></div>
      <div class="triangle-right"></div>
    </div>


  </div>




</div>