.container {
  background-color: rgb(26, 25, 25);
}

/* textContainer */

.textContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

/* imgContainer */

.imgContainer {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgContainer>h3 {
  margin: 0;
  padding: 5px;
  color: rgb(162, 213, 247);
  text-transform: capitalize;
  text-align: center;
}

.imgContainer .flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgContainer .flex>img {
  width: 400px;
  height: 200px;
  margin: 75px;
  border-radius: 10px;
  padding: 3px;
  box-shadow: 1px 1px 3px 1px rgb(248, 75, 75);
}

/* parallaxContainer */

.parallaxContainer {
  position: relative;
  height: 100vh;
}

.parallaxContainer .background {
  width: 70%;
  height: 100%;
  margin: auto;
  display: block;
}

.parallaxContainer .box1 {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  background-color: blue;
  height: 50px;
  width: 50px;
  position: absolute;
  /* top: 950px; */
  top: 0px;
  left: 30%;
}

.parallaxContainer .box2 {
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  background-color: blue;
  height: 50px;
  width: 50px;
  position: absolute;
  /* top: 950px; */
  top: 10px;
  left: 44%;
}

/* formContainer */

.formContainer {
  height: 100vh;
  background: linear-gradient(rgb(236, 144, 127), rgb(61, 155, 243));
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer>.coverShape-left {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(147, 213, 243), rgb(236, 144, 127));
  clip-path: polygon(0 0, 20% 24%, 28% 74%, 61% 100%, 0 100%);
  z-index: -1;
}

.formContainer>.coverShape-right {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(174, 229, 243), rgb(236, 144, 127));
  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 47% 62%);
  z-index: -1;
}

.formContainer>.picture {
  position: absolute;
  width: 300px;
  height: 300px;
  right: 10px;
  top: 10px;
  border: 1px solid black;
  clip-path: circle(63.6% at 50% 50%);
  background-image: url("../assets/photos/treesIsland.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formContainer>.formOuter {
  width: 80%;
  height: 40%;
  border-radius: 30px;
  border: 5px solid rgb(65, 180, 247);
  background: radial-gradient(rgb(224, 175, 243), rgb(194, 235, 233));
  position: absolute;
  margin-top: 75px;
  text-align: center;
}

.formContainer>.formOuter h3::first-letter, .formContainer>.formOuter h4::first-letter {
  text-transform: uppercase;
}

.formContainer>.formOuter h3, .formContainer>.formOuter h4 {
  color: rgb(89, 41, 201);
}

.formContainer>.formOuter>form {
  padding: 12px 25% 10px 25%;
  display: grid;
  grid-template-areas: 'grid-1 grid-2' 'grid-3 grid-3' 'grid-4 grid-4';
  grid-gap: 7px;
}

.formContainer>.formOuter>form>.grid {
  position: relative;
  height: 50px;
}

.formContainer>.formOuter>form input {
  height: 100%;
  width: 100%;
  outline: 0;
  padding-top: 20px;
  padding-left: 7px;
  box-shadow: 1px 1px 1px 1px rgb(240, 219, 219), 1px 1px 1px 1px rgb(155, 35, 35);
  border: 1px solid rgb(236, 160, 160);
  border-radius: 10px;
  font-size: 16px;
}

.formContainer>.formOuter>form>.grid-1 {
  grid-area: grid-1;
}

.formContainer>.formOuter>form>.grid-2 {
  grid-area: grid-2;
}

.formContainer>.formOuter>form>.grid-3 {
  grid-area: grid-3;
}

.formContainer>.formOuter>form>.grid-4 {
  text-transform: capitalize;
  height: 30px;
  grid-area: grid-4;
  padding: 4px 1px;
  background: repeating-linear-gradient(to right, rgb(216, 167, 228), rgb(152, 222, 235), rgb(236, 97, 121));
  background-size: 200%;
  background-position: left;
  transition: 1.2s ease-in;
}

.formContainer>.formOuter>form>.grid-4:hover {
  background-position: right;
}

.formContainer>.formOuter>form>.grid-4:disabled {
  opacity: 0.6;
  color: black;
  background: rgba(209, 11, 11, 0.76);
  border: 2px solid rgb(20, 20, 20);
}

.formContainer>.formOuter>form label {
  position: absolute;
  left: 0;
  bottom: 5px;
  padding-left: 7px;
  pointer-events: none;
}

.formContainer>.formOuter>form>.grid>label {
  transition: .5s ease-out;
  text-transform: capitalize;
}

.formContainer>.formOuter>form>.grid>input:focus+label, .formContainer>.formOuter>form>.grid>input:valid+label {
  color: rgb(247, 59, 169);
  border: 1px black;
  font-size: 14px;
  transform: translateY(-22px);
}

.formContainer>.messageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer>.messageContainer>.messageSent {
  height: 40%;
  width: 60%;
  border-radius: 4px;
  padding: 2px;
  z-index: 1;
  background: linear-gradient(to bottom, rgb(236, 98, 126), rgb(223, 163, 175), rgb(219, 124, 203), rgba(255, 135, 135, 0.808));
  background-size: 100% 300%;
  background-position: top;
  transition: 1.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.formContainer>.messageContainer>.messageSent:hover {
  background-position: bottom;
}

.formContainer>.messageContainer>.messageSent>p {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
  color: rgb(7, 18, 121);
}

.formContainer>.messageContainer>.messageSent>p::first-letter {
  color: rgb(12, 35, 243);
  text-transform: uppercase;
}

.formContainer>.messageContainer>.messageSent>button {
  padding: 5px;
  width: 40%;
  font-size: x-large;
  font-weight: bold;
  color: rgb(79, 2, 151);
  background-color: rgba(241, 149, 87, 0.74);
  outline-style: inherit;
  border-radius: 50px;
}

@media (max-width:450px) {
  .formContainer>.picture {
    width: 126px;
    height: 126px;
  }
  .formContainer>.formOuter {
    padding: 4px;
    width: 95%;
    height: 64%;
  }
  .formContainer>.formOuter>form {
    padding: 5px;
  }
  .formContainer>.messageContainer>.messageSent {
    height: 50%;
    width: 88%;
  }
}

@media (max-height:450px) {
  .formContainer>.picture {
    display: none;
  }
  .formContainer>.formOuter {
    margin: 0;
    padding: 2px;
    width: 95%;
    height: 80%;
  }
  .formContainer>.formOuter>form {
    padding: 5px 10%;
  }
  .formContainer>.messageContainer>.messageSent {
    height: 65%;
    width: 76%;
  }
}

@media (max-height:350px) {
  .formContainer>.formOuter {
    height: 88%;
  }
  .formContainer>.messageContainer>.messageSent {
    height: 70%;
  }
}