<p>info works!</p>

<button mat-raised-button color="primary">click</button>
<mat-button-toggle>button toggle</mat-button-toggle>

<mat-icon matBadge="3" color="primary">info</mat-icon>
<span matBadge="3" matBadgeSize="medium" matBadgeOverlap="false" matBadgePosition="above after">cart</span>
<mat-spinner></mat-spinner>

<mat-toolbar>
    <button>ss</button>
    <button>ss</button>
    <button>ss</button>
</mat-toolbar>

<button mat-button [matMenuTriggerFor]="menu">Menu</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="innerMenu">
        <mat-icon>dialpad</mat-icon>
    </button>
    <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
    </button>
</mat-menu>

<mat-menu #innerMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-list role="list">
    <mat-icon>home</mat-icon>
    <mat-list-item>item 1</mat-list-item>
    <mat-list-item>item 2</mat-list-item>
    <mat-list-item>item 3</mat-list-item>
</mat-list>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                This is the expansion title
            </mat-panel-title>
            <mat-panel-description>
                This is a summary of the content
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="content">
            <p>This is the primary content of the panel.</p>
            <p>This is the primary content of the panel.</p>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<mat-tab-group>
    <mat-tab label="first">con1</mat-tab>
    <mat-tab label="second">con2</mat-tab>
    <mat-tab label="third">con3</mat-tab>
</mat-tab-group>



<div fxLayout="row" fxLayoutAlign="space-around center">
    <div>d</div>
    <div>dd</div>
    <div>ddd</div>
</div>

<div class="container">
    <h2>i am a good guy</h2>
    <h2 class="cc">super hero like</h2>
    <h2>special guys</h2>
</div>

<div class="outerContainer">
    <div fxLayout="row" fxLayoutGap="10px" class="container" fxLayout.sm="column" fxLayoutAlign="center center">
        <div>1</div>
        <div>2</div>
        <div fxHide.xs="true" >3</div>
        <div>4</div>
    </div>
</div>

<div class="outerContainer">
    <div fxLayout="row" fxLayoutGap="10px" >
      <div fxLayoutAlign="center center">1</div>
      <div fxLayoutAlign="center center">2</div>
      <div fxLayoutAlign="center center">3</div>
      <div fxLayoutAlign="center center">4</div>
    </div>
  </div>