.backgroundImage {
    opacity: 0.8;
    position: relative;
    padding: 0;
    max-height: 130px;
    min-height: 100px;
    min-width: 150px;
}

.flipImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

hr {
    background-color: rgb(241, 209, 198);
}

a {
    background-color: inherit;
    outline: 0;
}

.candles {
    height: 100%;
    width: 100%;
    max-height: 70px;
    max-width: 200px;
}

.bigger:hover {
    font-size: x-large;
}

.containerCandle {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-small;
}