.backgroundImage {
    opacity: 0.8;
    position: relative;
    padding: 0;
    max-height: 130px;
    min-height: 100px;
    min-width: 150px;
    background-color: black;
}

.flipImg  {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* .firstImg {
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
}

.secondImg {
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;
} */

hr {
    background-color: rgb(241, 209, 198);
}

a {
    background-color: inherit;
    outline: 0;
}