.backgroundImage {
    opacity: 0.8;
    position: relative;
    padding: 0;
    max-height: 130px;
    min-height: 100px;
    min-width: 150px;
}

.flipImg {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

hr {
    background-color: rgb(241, 209, 198);
}

a {
    background-color: inherit;
    outline: 0;
}

.containerClick {
    position: relative;
    text-align: center;
    background-color: rgb(248, 217, 133);
    height: 90px;
}

.candles {
    height: 100%;
    width: 100%;
    max-height: 70px;
    max-width: 200px;
}

.bigger:hover {
    font-size: x-large;
}

.containerCandle {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-small;
}

.card {
    background-color: inherit;
}

.containerOuterCard {
    width: 350px;
    height: 80px;
    background-color: rgb(248, 229, 190);
}

.containerInnerCard {
    width: 250px;
    background-color: lavenderblush;
}