p, label, span, h5 {
    color: rgb(190, 231, 238);
}

button, input {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: initial;
}

/* don't use yet */
.space {
    width: 100%;
}

.fas{
    text-align: start;
}