p, label, span, h5 {
    color: rgb(190, 231, 238);
}

button, input {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: initial;
}

.space {
    width: 100%;
}

.fas {
    text-align: start;
}

input[type="radio"] {
    display: none;
}

.radioMale, .radioFemale {
    background-color: rgb(61, 55, 61);
    display: inline-block;
    width: 70px;
}

.radioMale:hover, .radioFemale:hover {
    background-color: gray;
    color: rgb(39, 29, 29);
}

input[type="radio"]:checked+.radioMale {
    background-color: rgb(117, 194, 245);
    color: rgb(56, 60, 253);
}

input[type="radio"]:checked+.radioFemale {
    background-color: rgb(252, 218, 242);
    color: rgb(252, 89, 184);
}

.inputValue:hover, .inputValue:focus {
    box-shadow: 0 0 0 1px rgb(145, 140, 145);
    background-color: rgba(250, 241, 232, 0.788);
    color: rgb(47, 120, 255);
}

input:hover {
    color: white;
}

small {
    display: block;
}

.eye {
    color: rgb(122, 130, 241);
}

.show {
    position: fixed;
    width: 300px;
    height: 200px;
    left: 50%;
    top: 60%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: seashell;
    background-color: rgb(88, 81, 81);
}