p, label, span, h5 {
    color: rgb(190, 231, 238);
}

button, input {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: initial;
}

.space {
    width: 100%;
}

.fas {
    text-align: start;
}

input[type="radio"] {
    display: none;
}

.radioMale, .radioFemale {
    background-color: gray;
    display: inline-block;
    width: 70px;
}

input[type="radio"]:checked+.radioMale {
    background-color: rgb(117, 194, 245);
    color: rgb(56, 60, 253);
}

input[type="radio"]:checked+.radioFemale {
    background-color: rgb(252, 218, 242);
    color: rgb(252, 89, 184);
}